

body{
  background-color: white;
  opacity: 80;
}

div #container{
  width: 100%;
  margin: 1%;
}
input#checkname1
{
  border-style: solid;
  border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
input#checkname2
{
  border-style: solid;
    border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
input#checkname3
{
  border-style: solid;
    border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
#column1{
  width: 400px;
  float:left;
  min-height:650px;
  color: white;
  background-color:#0059b3;
}

#main_homesignout
{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
}
#main_home{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
  background-color: white;
}
#text_services
{
  margin-top: 30px;
}
#main_services{
  min-height:500px;
  background-size: cover;
  overflow: hidden;
  background-color: white;
  color:#990000;
  text-align: center;
  font-family:comic sans MS;
}

#tag_h1_contact
{
  color:#b30059;
  text-align: center;
  font-family:comic sans MS;
  margin-bottom: -30px;
}
#chngpswd1{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('tours.jpg');
  background-size:cover;
}
#contactdiv{
  width: 550px;
 float:left;
 min-height:300px;
 color: Black;
 margin-left: 460px;
}
#chngpswd2{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('employee.jpg');
  background-size:cover;

}

#chngpswd3{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('rocket.jpg');
  background-size:cover;
}

#chngpswd_submit1{
    width: 20em;  height: 50em;
}
#chngpswd_clr1{
    width: 10em;  height: 10em;
}
#main_chngpswd{
  min-height:695px;
    color: Black;
  background-color:white;
}
#main_pswd{
  min-height:695px;
    color: Black;
  background-color:white;
}

.toHideContainer {
    padding: 0 25px 0 30px;
}

#column2{
  width: 1700px;
  margin-left: 400px;
  min-height:650px;
  color: Black;
  background-color:#e6ecff;
}

#img_home{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 0px;
  background-color:#001a33;
}
#contactimg{
  width: 700px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 350px;
  background-image: url('contactpic.jpg');
    background-size:cover;
}

#contactbody
{
    font-family: Lucida Handwriting;
    color:grey;
    text-align: center;
}
#img_home_2{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 320px;
  background-image: url('autoimg.jpg');
  background-size:contain;
}

#img_aboutus{
  width: 1450px;
  float:left;
  min-height:335px;
  color: Black;
  margin-left: 0px;
  background-image: url('aboutUsNew.jpg');
  background-size:contain;
  font-family: comic sans ms;
}
#signinpart1{
  width: 1450px;
  float:left;
  min-height:280px;
  background-image: url('signInImg1.png');
  background-size:cover;
  margin-bottom: 20px;
}

#img_services{
  width: 1500px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 0px;
  margin-bottom: 50px;
  background-image: url('services.jpg');
  background-size:cover;
  font-family: comic sans ms;
}
#img_tempimg{
  width: 1500px;
  float:left;
  min-height:250px;
  color: Black;
  margin-bottom: 50px;
  background-image: url('tempImg.jpg');
  background-size:contain;
  font-family: comic sans ms;
}
#step1img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #e6f9ff;
}
#step1img_dashBoard{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
#myprogdetail1
{
  width: 100px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  color: white;
  background-color: #003366;
  border-radius: 2px;
}
#dashdiv
{
  min-height: 200px;
  color:black;
  background-color: yellow;
  min-width: 200px;
}
#myprogdetail2
{
  width: 100px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  color: white;
  background-color: #003366;
  border-radius: 2px;
}
#step1img_dashBoard2{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  color: white;
  margin-bottom: 6px;
  background-color: #ff8080;
}
#step1img_temp{
  width: 350px;
  float:left;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: #ffffcc;
}

a:link {
    text-decoration: none;
}
#newcheck_line
{
  font-size: 50px;
  font-family:Comic Sans MS;
  margin-top: 50px;
  text-align: center;
  color: grey;
}
#listconstruct_line
{
  font-size: 50px;
  font-family:Comic Sans MS;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 5%;
  height: 20%;
  color:#00004d;
  text-align: center;
}
#step2check_new{
  width: 350px;
  float:left;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: #ffffcc;
}
#step1img_signin{
  width: 400px;
  float:left;
  text-align: center;
  min-height:50px;
  margin-left: 0px;
  margin-top: 30px;
  color:white;
  margin-bottom: 30px;
}
#forgothyper
{
  color:white;
  font-size: 20px;
}
#titlesignin
{
    font-size: 35px;
    font-family: comic sans ms;
    margin-bottom: -10px;
    margin-top: -5px;
}
#step2img_signin{
  width: 400px;
  float:left;
  text-align: center;
  min-height:50px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #145214;
  color:white;
}
#step2img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
#step3img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
#step2img_dashBoard{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #e6f9ff;
}
#step1img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('uk.jpg');
  background-size:cover;
}
#signinbutton{
  width: 1430px;
  float:left;
  min-height:130px;
background-color: white;
}
#step_1_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 150px;
  color:black;
}
#step2img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('lu.jpg');
  background-size:contain;
}

#step_2_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 250px;
}
#step_4_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 250px;
}
#step3img_au{
  width: 170px;
  float:left;
  margin-top: 7px;
  min-height:160px;
  margin-right: 6px;
  background-image: url('rohan_pic.jpg');
  background-size:cover;
}

#step4img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('hsien2.jpeg');
  background-size:cover;
}
#step_3_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 150px;
  color:black;
  }
#step3img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 100px;
  margin-top: 10px;
  background-image: url('step_3.jpg');
  background-size:cover;
}
#step2img{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
  /*border-style: solid;*/
}
#step1img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 103px;
  background-image: url('step_1.png');
  background-size:contain;
}
#step2img{
  width: 110px;
  float:left;
  min-height:140px;
  margin-left: 120px;
  margin-top: 5px;
  background-image: url('step_2.png');
  background-size:cover;
}
#tagline_home{
  width: 1400px;
  float:left;
  min-height:220px;
  color: grey;
  margin-top: 50px;
  text-align: center;
  background-color:white;
}

#tagline_home_about{
  width: 1400px;
  float:left;
  min-height:220px;
  color: grey;
  margin-top: 20px;
  text-align: left;
  padding-left: 30px;
  background-color:white;
}

#step_1{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 110px;
  margin-top: 10px;
  background-color: #e6faff;
}

#step_1_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-top: 10px;
  margin-left: 110px;
  background-image: url('constructionImg.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}
#main_newchecklist
{
  min-height: 690px;
}
#tempname1
{
  font-family: comic sans ms;
  color:black;
}
input#tempnamenew1
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
input#tempnamenew2
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
input#tempnamenew3
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
#step_2_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('savedtemplate2.jpg');
    background-size: cover;
    border-bottom:3px;
    border-style: solid;
    border-color: grey;
}
#step_3_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('tempImg3.jpg');
    background-size: cover;
    border-bottom:3px;
    border-style: solid;
    border-color: grey;
}
#step_2_dashBoard{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('templatesImg.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_2_signin{
  width: 400px;
  float:left;
  min-height:400px;
  color: Black;
  margin-left: 480px;
  margin-right: 30px;
  margin-top: 10px;
  background-color: #ff8080;
}
#step_1_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 45px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('newtemplate3.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_dashBoard{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 280px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('dashBoardImg.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_dashBoard2{
  width: 350px;
  float:left;
  min-height:50px;
  color: Black;
  margin-left: 230px;
  margin-right: 30px;

  background-color: white;
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_signin{
  width: 400px;
  float:left;
  min-height:400px;
  color: Black;
  margin-left: 480px;
  margin-right: 30px;
  margin-top: 10px;
  background-color: #ff8080;
}

#step_2{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 78px;
  margin-top: 10px;
  background-color: #e6faff;
}
#step_2_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-left: 78px;
  margin-top: 10px;
  background-image: url('coffee1.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}

#step_3{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 70px;
  margin-top: 10px;
  background-color: #e6faff;
}


#step_3_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-left: 70px;
  margin-top: 10px;
  background-image: url('itDeploy.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}

#steps_home{
  width: 1420px;
  float:left;
  min-height:500px;
  color: #000066;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_services{
  width: 1420px;
  float:left;
  min-height:480px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_dashBoard{
  width: 1420px;
  float:left;
  min-height:500px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_dashBoard2{
  width: 1420px;
  float:left;
  min-height:400px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_au{
  width: 1420px;
  float:left;
  min-height:250px;
  color: #000066;
  margin-top: 0px;
  margin-left: 20px;
  text-align: center;
  background-color:white;
}

#login_home{
  width: 1420px;
  float:left;
  min-height:300px;
  color: White;
  margin-left: 0px;
  background-color:#ff6666;
  text-align: center;
}
#savedcheck_title{
  width: 1420px;
  float:left;
  min-height:200px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 40px;
  background-image: url('tempImg2.jpg');
  background-size: cover;
}
#listconstruct_title{
  margin-bottom: 5%;
  height: 20%;
  padding-top: 0.01%;
  padding-bottom: 2%;

}
#newcheck_title{

  margin-bottom: 2%;
  height: 10%;
  background-color: #ffffe6;
  padding-top: 0.01%;
  padding-bottom: 2%;
}


#listcoffee_line
{
  margin-bottom: 5%;
  height: 20%;
  color:#00004d;
  text-align: center;
}
#coffeebg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 1150px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('coffeebg2.jpg');
  background-size: cover;
}
#constrbg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 1000px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('constructlistimgrotate.jpg');
  background-size: cover;
}
#ITbg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 920px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('itbg2.jpg');
  background-size: cover;
}
#listcoffhome
{
  margin-top: 50px;
  margin-bottom: -500px;
}
#listconstrhome
{
  margin-top: 50px;
  margin-bottom: -500px;
}
#listIThome
{
  margin-top: 50px;
  margin-bottom: -500px;
}

#listcons
{
  margin-left: 10%;
  margin-right: 10%;
  min-width: 100px;
  min-height: 700px;
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 30px;
  text-indent: 30px;
}
input#cflist1
{
zoom:2;
}input#cflist2
{
zoom:2;
}input#cflist3
{
zoom:2;
}input#cflist4
{
zoom:2;
}input#cflist5
{
zoom:2;
}input#cflist6
{
zoom:2;
}
input#cflist7
{
zoom:2;
}
input#cflist8
{
zoom:2;
}

input#cflist9
{
zoom:2;
}
input#cflist0
{
zoom:2;
}
input#cstlist1
{
zoom:2;
}input#cstlist2
{
zoom:2;
}input#cstlist3
{
zoom:2;
}input#cstlist4
{
zoom:2;
}input#cstlist5
{
zoom:2;
}input#cstlist6
{
zoom:2;
}
input#cstlist7
{
zoom:2;
}

input#cstlist8
{
zoom:2;
}

input#cstlist9
{
zoom:2;
}
input#cstlist0
{
zoom:2;
}
input#itlist0
{
zoom:2;
}
input#itlist1
{
zoom:2;
}input#itlist2
{
zoom:2;
}input#itlist3
{
zoom:2;
}input#itlist4
{
zoom:2;
}input#itlist5
{
zoom:2;
}input#itlist6
{
zoom:2;
}
input#itlist7
{
zoom:2;
}
#dashBoard_title{
  width: 1420px;
  float:left;
  min-height:250px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 40px;
  background-image: url('fdash.jpg');
  background-size: cover;
}
#template_1{
  width: 1420px;
  float:left;
  min-height:300px;
  color: White;
  margin-left: 0px;
  margin-bottom: 20px;
  background-color:#003366;
  text-align: center;
}
#contri_about{
  width: 1430px;
  float:left;
  margin-top: 50px;
  min-height:120px;
  color: White;
  padding-top: 30px;
  margin-left: 0px;
  background-color:#660033;
  text-align: center;
  font-family: comic sans ms;
  margin-bottom: 20px;
}

input#emailhome
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#tempname
{
  min-width: 350px;
  min-height:53px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#emailsignid2
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#emailsignid1
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign1
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign2
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign3
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#submithome {
    width: 170px;
    font-family: Lucida Handwriting;
    font-size: 25px;
    color: #003366;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;

}
input#newuserbutton {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 250px;
    margin-right: 40px;
    background-color: #003366;
    border-radius: 20px;
}
input#olduserbutton {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 280px;
    background-color: #003366;
    border-radius: 20px;
}
input#subcoflist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#subconstrlist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#subITlist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#newtemp{
    width: 100px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 0px;
    background-color: #003366;
    border-radius: 2px;
}
#SignInNote1
{
  font-family: comic sans ms;
  color:grey;
  margin-left:310px;
}

input#submitsign1{
    width: 100px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
}
input#submitsign2{
    width: 120px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
}
input#tempsubmit{
    width: 170px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;

}
#logintag{
    font-size: 40px;
    font-family:Comic Sans MS;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 10px;
}
#savedcheck_line{
    font-size: 50px;
    font-family:Comic Sans MS;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 4px 4px #003300;
}
#savedcheck_line2{
    font-size: 50px;
    font-family:Comic Sans MS;
    margin-top: 60px;
    margin-bottom: 0px;
    text-shadow: 4px 4px #003300;
}
#tag_h1{
    font-family:Comic Sans MS;
    text-align: center;
}

#tag_h1_about{
  font-family:Comic Sans MS;
  color: #000066;
}
#acknw{
  font-family:Comic Sans MS;
  color: #008000;
  margin-top: 100px;
  text-align: center;
}
#tag_h1_about_2{
  font-family:Helvetica;
  line-height: 30px;
}

header{
  background-color: white;
  min-height: 50px;
  text-indent: 1px;
  color: white;
  margin-top: 30px;
  min-width: 1000px;;
  font-size: 12px;
}

#main{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_savedcheck{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_newcheck{
  min-height:450px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_dashBoard{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_signin{
  width: 1420px;
  float:left;
  min-height:250px;
  color: #e6ffe6;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
  background-color:white;
}

footer{
  text-align: center;
  margin-top: 10px;
  background-color: white;
  min-height: 50px;
  font-size: 20px;
  color:#666699;
}

#ul1{
    list-style:none;
    list-style-position: inside;
    padding-left:50px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
    color: #00cccc;
    font-size: 16px;
    font-family: Calibri Light;
    position: relative;
    z-index:1000;
}

#ul1_newcheck{
    list-style:none;
    list-style-position: inside;
    padding-left:50px;
    position: absolute;
    padding-top: 3px;
    color: #00cccc;
    font-size: 16px;
    font-family: Calibri Light;
    position: relative;
    padding-right: 200px;
    margin: 0;
    margin-right: 30px;
    z-index:1000;
}

#ul2{
    list-style:none;
    list-style-position: inside;
    padding-left:900px;
    min-width: 20%;
    margin: 0;
    position: absolute;
    padding-top: 3px;
}

#ul2_newcheck{
    list-style:none;
    list-style-position: inside;
    padding-left:1260px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
}

ul li{
  float:left;
  font-size: x-small;
  background-color: white;
  opacity: .9;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

ul li a{
  text-decoration: none;
  font-family: Calibri Light;
  font-size: 16px;
  color: #666699;
  display: block;
}

ul li a:hover{
  color: #00cccc;
  font-size: 16px;
  font-family: Calibri Light;
  position: relative;
  z-index:1000;
}
