body{
  background-color: white;
  opacity: 80;
}

div #container{
  width: 990px;
  margin: 10px;
}

#column1{
  width: 400px;
  float:left;
  min-height:726px;
  color: Black;
  background-color:#b3ffff;
}

#main_homesignout
{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
}
#main_home{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
  background-color: white;
}

#chngpswd1{
  width: 570px;
  float:left;
  min-height:500px;
  color: Black;
  margin-left: 430px;
  margin-top: 100px;
  background-color:white;
}
#chngpswd_submit1{
    width: 20em;  height: 50em;
}
#chngpswd_clr1{
    width: 10em;  height: 10em;
}
#main_chngpswd{
  min-height:726px;
  background: url('processimage.png');
  background-size: cover;
  overflow: hidden;
}

.toHideContainer {
    padding: 0 25px 0 30px;
}

#column2{
  width: 1700px;
  margin-left: 400px;
  min-height:726px;
  padding: 3px;
  color: Black;
  background-color:white;
}

#img_home{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 0px;
  background-color:#001a33;
}


#img_home_2{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 320px;
  background-image: url('autoimg.jpg');
  background-size:contain;
}

#step1img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 103px;
  background-image: url('step_1.png');
  background-size:contain;
}

#step3img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 100px;
  margin-top: 10px;
  background-image: url('step_3.jpg');
  background-size:cover;
}


#step2img{
  width: 110px;
  float:left;
  min-height:140px;
  margin-left: 120px;
  margin-top: 5px;
  background-image: url('step_2.png');
  background-size:cover;
}

#tagline_home{
  width: 1400px;
  float:left;
  min-height:220px;
  color: grey;
  margin-top: 50px;
  text-align: center;
  background-color:white;
}

#step_1{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 110px;
  margin-top: 10px;
  background-color: #e6faff;
}

#step_2{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 78px;
  margin-top: 10px;
  background-color: #e6faff;
}

#step_3{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 70px;
  margin-top: 10px;
  background-color: #e6faff;
}

#steps_home{
  width: 1420px;
  float:left;
  min-height:500px;
  color: #000066;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}

#login_home{
  width: 1420px;
  float:left;
  min-height:300px;
  color: White;
  margin-left: 0px;
  background-color:#ff6666;
  text-align: center;
}
input#emailhome
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: grey;
}

input#submithome {
    width: 170px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;

}
#logintag{
    font-size: 40px;
    font-family:Comic Sans MS;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 10px;
}
#tag_h1{
    font-family:Comic Sans MS;
}

header{
  background-color: white;
  min-height: 50px;
  text-indent: 1px;
  color: white;
  margin-top: 30px;
  font-size: 12px;
}

#main{
  min-height:720px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
}

footer{
  text-align: center;
  margin-top: 10px;
  background-color: white;
  min-height: 50px;
  font-size: 20px;
  color:#666699;
}

#ul1{
    list-style:none;
    list-style-position: inside;
    padding-left:50px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
    color: #00cccc;
    font-size: 16px;
    font-family: Calibri Light;
    position: relative;
    z-index:1000;
}

#ul2{
    list-style:none;
    list-style-position: inside;
    padding-left:1000px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
}

ul li{
  float:left;
  font-size: x-small;
  background-color: white;
  opacity: .9;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

ul li a{
  text-decoration: none;
  font-family: Calibri Light;
  font-size: 16px;
  color: #666699;
  display: block;
}

ul li a:hover{
  color: #00cccc;
  font-size: 16px;
  font-family: Calibri Light;
  position: relative;
  z-index:1000;
}
