<!DOCTYPE HTML>
<html>
{% load static %}
<link href="{% static '/first_app/style.css' %}" rel='stylesheet'>
<div id="container">

<!-- navbar -->
  <header>
    <ul id="ul1">
      <li><a href='/'>PROCESS 9</a></li>
      {%if user%}
      <li>Hi, {{user.username}}</li>
      <li><a href='logout'>LOGOUT</a> </li>
      {% else %}
      <li><a href='signin'>LOGIN</a> </li>
      {% endif %}
    </ul>
    <ul id="ul2">
      <li><a href='about'>ABOUT US</a></li>
      <li><a href='services'>SERVICES</a></li>
      <li><a href='contact'>CONTACT</a></li>
    </ul>
  </header>
<!--  -->


</div>
<div id="main_home">
  <div id="img_aboutus">
  </div>
  <div id="tagline_home_about">
    <br><br>
    <h1 id="tag_h1_about">What is Process 9 ? </h1>
    <h3 id="tag_h1_about_2">Process 9 is a website designed to automate the workflow of a process<br>
      We have illustrated the functionality of a website by providing sample templates <br>
      These readily available templates include checklist and the task associated with it.
      <br>Once the work is done, the item in a checklist is marked with a tick mark.
      <br> Based on an analysis, task completion percent are displayed at a given point of time. <br>
      Additionally, you can create your own template.
    </h3>
  </div>

  <div id="contri_about">
    <h1>Contributors</h1>
  </div>
  <div id="steps_home_au">
    <div id="step_1_au">
      <div id="step1img_au">
      </div>
      <br><br><br><br><br><br>
      <h3 id='name_about'>Uttara Vishwas Kulkarni
        <br>MS - Software Engineering</h3>
    </div>
    <!-- </div>
    <div id="steps_home_au"> -->
    <div id="step_2_au">
      <div id="step2img_au">
      </div>
      <br><br><br><br><br><br>
      <h3>    Lu Yu <br>      MS - Software Engineering</h3>
    </div>
  </div>
  <div id="steps_home_au">
    <div id="step_3_au">
      <div id="step3img_au">
      </div>
      <br><br><br><br><br><br>
      <h3>    Rohan Kelkar<br>      MS - Software Engineering</h3>
    </div>
    <div id="step_4_au">
      <div id="step4img_au">
      </div>
      <br><br><br><br><br><br>
      <h3>    Hsien Fang Liu<br>      MS - Software Engineering</h3>
    </div>
  </div>

</div>
<footer>
  <br> Title: Process 9 <br> CmpE 272 - Project Team 9 - Process WorkFlow Automation
</footer>

</html>
