<!DOCTYPE html>
<html>
{% load static %}
<link href="{% static '/first_app/style.css' %}" rel='stylesheet'>

<body>
<h2>Checklist for Setting Up a Coffee Shop</h2>

<h3>1. Create Business Plan</h3>
<p>The first and the most important step towards setting up a coffee shop is to create a solid business plan. </p>
<img src="coffee_1.jpg" alt="Mountain View" width="500" height="377">
<p>This document gives information about what exactly your business is, how profitable will it be, defining your customer base, explore competitors, plans for growth and troubleshooting strategies necessary for achieving your goals.</p>


<!--<p> Enter your feedback </p>
<textarea rows="4" cols="100">
At w3schools.com you will learn how to make a website. We offer free tutorials in all web development technologies.
</textarea>
-->

<h4>Business Plan Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4>Comments</h4>
<textarea rows="5" cols="40">
</textarea>




<h3>2. Determine initial costs</h3>
<img src="coffee_2.png" alt="Mountain View" width="500" height="377">
<p>Starting a coffee business is a significant expense. We need to determine the initial costs of our coffee shop before moving forward.</p>
<p>
Developing a budget for your coffee shop is the best way to determine the initial costs. This budget will play a key role in your coffee shop business plan.
</p>

<h4>Budget Plan Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4>Comments</h4>
<textarea rows="5" cols="40">
</textarea>






<h3>3. Market Research</h3>
<p>In market research, it is very important to do research on the following two things:</p>
<img src="coffee_3.png" alt="Mountain View" width="500" height="377">
<p><b>1. Customer Research</b></p>
<p>It is very important to research what options do the customers have, what do they like etc. In short, it is important that you know your customers well.</p>


<h4>Researcher Names </h4>
<textarea rows="5" cols="40">

</textarea>
<h4> Comments </h4>
<textarea rows="5" cols="40">

</textarea>

<p><b>2. Competitor Research</b></p>
<p>Research your competitors within a five-mile radius.<br> 

<h4>Researcher Names </h4>
<textarea rows="5" cols="40">
</textarea>


<p>Answer questions like:</p>

<b><p>1. What are your competitors doing right?</b></p>

<h4> Comments </h4>
<textarea rows="5" cols="40">
</textarea>

<b></p>2. What are they doing wrong?</b></p>

<h4> Comments </h4>
<textarea rows="5" cols="40">
</textarea>

<b></p>3. What facilities do customers in your area want?</b></p>
<h4> Comments </h4>
<textarea rows="5" cols="40">
</textarea>

<b></p>4. What are the emerging trends?</b></p>
<h4> Comments </h4>
<textarea rows="5" cols="40">
</textarea>

<b></p>5. Which age-group do your customers generally belong to?</b></p>
<h4> Comments </h4>
<textarea rows="5" cols="40">
</textarea>


<h3>4. Create floor plan</h3>
<p>Creating a solid floor plan is very important for setting up a coffee shop. Make sure that the seating area is comfortable for the customers, there is enough space to accommodate a large crowd on special occasions, placing of coffee equipment, coffee preparation area etc.</p>

<img src="coffee_4.jpg" alt="Mountain View" width="500" height="377">

<h4> Architect Details </h4>
<textarea rows="5" cols="40">
</textarea>


<h4>Floor Plan Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4> 
Architect Comments</h4>
<textarea rows="5" cols="40">
</textarea>



<h3>5. Coffee Shop Location</h3>
<img src="coffee_5.png" alt="Mountain View" width="500" height="377">
<p>You have three important factors when it comes choosing a location when you decide to open a coffee shop.</p>


<form action="">
<input type="checkbox" name="" value=""><b>Right Location</b><br>
</form>

<p>It is important to pick the right location for your coffee shop. While picking the right location, ensure that the location you pick is clean, safe, away from a lot of competitors and one that offers good parking services to your customers.</p>

<h4> Location Details </h4>
<textarea rows="5" cols="40">
</textarea>

<p><form action="">
<input type="checkbox" name="" value=""><b>Right Space</b><br>
</form>



<p>Make sure that the seating area is spacious and comfortable for customers. It should be able to handle high in-flow of customers during festive season and on weekends.</p>

<h4> Area Information </h4>
<textarea rows="5" cols="40">
</textarea>

<p><b>c. Right Price</b></p>

<p>Make sure that the price of the location fits in your budget that you made while chalking out your business plan.</p>

<h4> Final Price </h4>
<textarea rows="5" cols="40">
</textarea>


<h3>6. Coffee Equipment Selection</h3>
<p>Choose the coffee equipment carefully.Espresso machines will be the costliest equipment. As it will be a big one-time investment, choose it properly.</p> 

<img src="coffee_6.jpg" alt="Mountain View" width="500" height="377">

<h4> Vendor Name </h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Equipment Information </h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Total Cost Details </h4>
<textarea rows="5" cols="40">
</textarea>




<h3>7. Consider local laws and health regulations</h3> 
<p>Knowing local laws and health regulations is important before opening the coffee shop. Additionally, the laws impact payroll costs,taxes and health code requirements.</p>

<img src="coffee_7.jpg" alt="Mountain View" width="500" height="377">

<h4>Local laws and health regulations</h4>
<textarea rows="5" cols="40">
</textarea>

<h4>Additional Comments</h4>
<textarea rows="5" cols="40">
</textarea>

<h3>8. Decide coffee menu and prices</h3>

<img src="coffee_8.jpg" alt="Mountain View" width="500" height="377">
<p>The coffee shop menu determines equipment requirements,specific space needs and labor needs. To decide on a menu, talk to potential customers and research on the choice of customers about coffee drinks and snacks that they would like to have.</p>

<h4> Researcher Details </h4>
<textarea rows="5" cols="40">
</textarea>

<p>The researcher should ask the following questions:</p>

<form action="">
<input type="checkbox" name="" value=""><b>What will be the USP of your coffee shop?</b><br><br>
<input type="checkbox" name="" value=""><b>What will your signature drink be?</b><br><br> 
<input type="checkbox" name="" value=""><b> What will your signature snack or food offering be?</b><br><br>
<input type="checkbox" name="" value=""><b>What will your customers get excited about?</b><br><br>
<input type="checkbox" name="" value=""><b>Why will your customers make a U-turn to visit your coffee stand versus just heading over to Starbucks?</b><br><br>
<input type="checkbox" name="" value=""><b>What menu options can you provide that is ultimately going to keep them coming back again and again?</b><br><br>
<input type="checkbox" name="" value=""><b>What will be the cost of each item?</b><br><br> 
<input type="checkbox" name="" value=""><b>Is the cost of an item expensive or cheaper when compared with the other coffee shops in your vicinity?</b><br><br>
</form>

<h4>Research Results </h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Researcher Comments</h4>
<textarea rows="5" cols="40">
</textarea>



<h3>9. Sign Business Lease</h3>
<img src="coffee_9.jpg" alt="Mountain View" width="500" height="377">

<p>Before signing coffee shop lease document,do consider the following points:</p>

<p><b>1. Don't trust your broker to handle everything<br>2. Your business lease will impact your initial costs</b></p>

<h4> Owner Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Broker Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Brokerage Cost Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Lease Agreement Details</h4>
<textarea rows="5" cols="40">
</textarea>

<h4> Broker Comments</h4>
<textarea rows="5" cols="40">
</textarea>


<h3>10. Employee Hiring and Training</h3>

<p>It is very important to choose the right employees for the coffee shop as they are the ones who will interact directly with the customers. While hiring, preference should be given to applicants with pleasing personality than ones with experience.</p>

<img src="coffee_10.png" alt="Mountain View" width="500" height="377">

<p>Arrange a training program for the newly hired employees.</p>


<h4>Final Employee List</h4>
<textarea rows="5" cols="40">
</textarea>

<h4>Training Information</h4>
<textarea rows="5" cols="40">
</textarea>


<h3>11. Hold a grand opening</h3>

<img src="coffee_11.jpg" alt="Mountain View" width="500" height="377">

<p>Take time to plan out the grand opening. Starting a coffee shop with a well-planned marketing campaign will help to streamline efforts and save a lot of time as well as money.</p>

<h4>Detailed Marketing Plan</h4>
<textarea rows="5" cols="40">
</textarea>

<p><form action="">
  
  <input type="submit" value="Create Checklist">
</form> 

</body>
</html>
