<html>
    
    <head>
      {% load static %}
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="{% static '/first_app/main.css' %}" rel='stylesheet'>
      <link href="{% static '/first_app/font-awesome.min.css' %}" rel='stylesheet'>
    </head>
    
    <script type="text/javascript">
      window.location.hash = "no-back-button";
      window.location.hash = "Again-No-back-button";
      window.onhashchange = function() {
        window.location.hash = "no-back-button";
      }
    </script>

    <body>
      <div id="headercons">
        <ul id="ul1_newcheck">
          <li id="li1"><a href='newchecklist'>BACK</a></li>
        {%if user%}
        <li id="li1">Hi, {{user.username}}</li>
        <li id="li1"><a href='logout'>LOGOUT</a> </li>
        {% else %}
        <li id="li1"><a href='signin'>LOGIN</a> </li>
        {% endif %}
        </ul>
        <ul id="ul2">
          <li id="li1"><a href='/' id>PROCESS 9</a></li>
          <li id="li1"><a href='about'>ABOUT US</a>
          </li>
          <li id="li1"><a href='services'>SERVICES</a>
          </li>
          <li id="li1"><a href='contact'>CONTACT</a></li>
        </ul>
      </div>
      <br>
      <div id="headerline">
      </div>
      <div class=" ">
        <div class=" ">
    
          <div class="">
            <div class="">
              <div class="checklist--wrap">
    
                <h3 id="coffTitle">Checklist: <br>Setting Up a Coffee Shop</h3>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-1">
                          <span class="checklist--index">1</span>
                          <h3>Create Business Plan</h3>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-2">
                                                     <span class="checklist--index">2</span>
                                                     <h3>Market Research</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-3">
                                                     <span class="checklist--index">3</span>
                                                     <h3>Create Floor Plan </h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-4">
                                                     <span class="checklist--index">4</span>
                                                     <h3>Coffee Shop Location</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-5">
                                                     <span class="checklist--index">5</span>
                                                     <h3>Coffee Equipment Selection</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-6">
                                                     <span class="checklist--index">6</span>
                                                     <h3>Local Laws and Health Regulations</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-7">
                                                     <span class="checklist--index">7</span>
                                                     <h3>Decide Coffee Menu and Prices</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
                
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-8">
                                                     <span class="checklist--index">8</span>
                                                     <h3>Sign Business Lease</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
                
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-9">
                                                     <span class="checklist--index">9</span>
                                                     <h3>Employee Hiring and Training</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
                
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-10">
                                                     <span class="checklist--index">10</span>
                                                     <h3>Hold a Grand Opening</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
                
    
                
              </div>
            </div>
          </div>
    
          <div class="checklist-information--container">
            <div class="checklist-information--pane">
              <div id="section-1">
                <br>
                <br>
                <br><br>
                <h1>Create Business Plan</h1>
                <br>
                <div class="text">
                  <div id="task3">
                    <h2>Task Details:</h2>
                  </div>
                  <div id="status3">
                    <br>
                    <h3>Checklist Due On: 12/11/2017</h3>
                    <h3>Hold by: Uttara Kulkarni</h3>
                    <form>
                      <h3>Status:
                      &nbsp;&nbsp;&nbsp;
                      <select>
                    <option value="dis">Select any one</option>
                    <option value="cofftaken">Locked</option>
                    <option value="coffinprog">In Progress</option>
                    <option value="coffcompltd">Completed</option>
                    <option value="coffclosed">Closed</option>
                  </select>
                      <input type="submit" id="buttoncoffsaved1" value="Save Status">
                      <h3>Task Completion Date:<input type="date" id="coff_saved_1"></h3>
                    </form>
                  </div>
                  <br>
                  <div><br><br><br>
                    <br> <br><br> <br><br> <br><br><br>
                    <h2>Task Description:</h2>
                    <h3>Create Business Plan</h3>
    <p>The first and the most important step towards setting up a coffee shop is to create a solid business plan. </p>
    <p><img src="{% static '/first_app/coffee_1.jpg' %}" alt="Mountain View" width="700" height="377"></p>
    <p>This document gives information about what exactly your business is, how profitable will it be, defining your customer base, explore competitors, plans for growth and troubleshooting strategies necessary for achieving your goals.</p>
    
    
    
    
    <h4>Business Plan Details</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4>Comments</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
                            <form action="">
                              <input type="submit" value="Submit Task" id="sub16">
                            </form>
                  </div>
                </div>
              </div>
              
              
              <div id="section-2">
                <br>
                <br>
                <br><br>
                <h1>Market Research</h1>
                <br>
                <div class="text">
                  <div id="task3">
                    <h2>Task Details:</h2>
                  </div>
                  <div id="status3">
                    <br>
                    <h2>Hold by: Uttara Kulkarni</h2>
                    <form>
                      <h3>Status:
                      &nbsp;&nbsp;&nbsp;
                      <select>
                    <option value="dis">Select any one</option>
                    <option value="cofftaken">Locked</option>
                    <option value="coffinprog">In Progress</option>
                    <option value="coffcompltd">Completed</option>
                    <option value="coffclosed">Closed</option>
                  </select>
                      <input type="submit" id="buttoncoffsaved2" value="Save Status">
                      <h3>Task Completion Date:<input type="date" id="coff_saved_2"></h3>
                    </form>
                  </h3>
                  </div>
    
                  <div><br>
                    <br> <br><br> <br><br> <br><br><br> <br>
                    <h2>Task Description:</h2>
                    <p>In market research, it is very important to do research on the following two things:</p>
    <img src="{% static '/first_app/coffee_3.png' %}" alt="Mountain View" width="700" height="377"><br><br>
    <p><b>1. Customer Research</b></p>
    <p>It is very important to research what options do the customers have, what do they like etc. In short, it is important that you know your customers well.</p>
    
    
    <h4>Researcher Names </h4>
    <textarea  rows="5" cols="40">
    
    </textarea>
    <h4> Comments </h4>
    <textarea rows="5" cols="40">
    
    </textarea><p> 
    
    <p><b>2. Competitor Research</b></p>
    <p>Research your competitors within a five-mile radius.<br> 
    
    <h4>Researcher Names </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
    <p>Answer questions like:</p>
    
    <b><p>1. What are your competitors doing right?</b></p>
    
    <h4> Comments </h4>
    <textarea   rows="5" cols="40">
    </textarea>
    
    <b></p>2. What are they doing wrong?</b></p>
    
    <h4> Comments </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <b></p>3. What facilities do customers in your area want?</b></p>
    <h4> Comments </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <b></p>4. What are the emerging trends?</b></p>
    <h4> Comments </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <b></p>5. Which age-group do your customers generally belong to?</b></p>
    <h4> Comments </h4>
    <textarea  rows="5" cols="40">
    </textarea>
                    <form action="">
                      <input type="submit" value="Submit Task" id="sub17">
                    </form>
                  </div>
                </div>
    
                <div id="section-3">
                  <br>
                  <br>
                  <br><br>
                  <h1>Design</h1>
                  <br>
                  <div class="text">
                    <div id="task3">
                      <h2>Task Details:</h2>
                    </div>
                    <div id="status3">
                      <br>
                      <h2>Hold by: Uttara Kulkarni</h2>
                      <form>
                        <h3>Status:
                        &nbsp;&nbsp;&nbsp;
                        <select>
                      <option value="dis">Select any one</option>
                      <option value="cofftaken">Locked</option>
                      <option value="coffinprog">In Progress</option>
                      <option value="coffcompltd">Completed</option>
                      <option value="coffclosed">Closed</option>
                    </select>
                        <input type="submit" id="buttoncoffsaved3" value="Save Status">
                        <h3>Task Completion Date:<input type="date" id="coff_saved_3"></h3>
                      </form>
                    </h3>
                    </div>
                    <br>
                    <div><br>
                      <br> <br><br> <br><br> <br><br><br>
                      <h2>Task Description:</h2>
                      <p>Creating a solid floor plan is very important for setting up a coffee shop. Make sure that the seating area is comfortable for the customers, there is enough space to accommodate a large crowd on special occasions, placing of coffee equipment, coffee preparation area etc.</p>
    
    <img src="{% static '/first_app/coffee_4.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <h4> Architect Details </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
    <h4>Floor Plan Details</h4>
    <textarea   rows="5" cols="40">
    </textarea>
    
    <h4> 
    Architect Comments</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
                      <form action="">
                        <input type="submit" value="Submit Task" id="sub18">
                      </form>
                    </div>
                  </div>
    
                  <div id="section-4">
                    <br>
                    <br>
                    <br><br>
                    <h1>Coffee Shop Location</h1>
                    <br>
                    <div id="task3">
                      <h2>Task Details:</h2>
                    </div>
                    <div id="status3">
                      <br>
                      <h2>Hold by: Uttara Kulkarni</h2>
                      <form>
                        <h3>Status:
                        &nbsp;&nbsp;&nbsp;
                        <select>
                      <option value="dis">Select any one</option>
                      <option value="cofftaken">Locked</option>
                      <option value="coffinprog">In Progress</option>
                      <option value="coffcompltd">Completed</option>
                      <option value="coffclosed">Closed</option>
                    </select>
                        <input type="submit" id="buttoncoffsaved4" value="Save Status">
                        <h3>Task Completion Date:<input type="date" id="coff_saved_4"></h3>
                      </form>
                    </h3>
                    </div><br>
                    <div><br>
                      <br> <br><br> <br><br> <br>
                      <h2><br>Task Description:</h2>
                      <img src="{% static '/first_app/coffee_5.png' %}" alt="Mountain View" width="700" height="377"><br><br>
    <p>You have three important factors when it comes choosing a location when you decide to open a coffee shop.</p>
    
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name=""  value=""><b>   Right Location</b><br>
    </form>
    
    <p>It is important to pick the right location for your coffee shop. While picking the right location, ensure that the location you pick is clean, safe, away from a lot of competitors and one that offers good parking services to your customers.</p>
    
    <h4> Location Details </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <p><form action="">
    <input type="checkbox" style="width:19px; height: 19px; name=""   value=""><b>   Right Space</b><br>
    </form>
    
    
    
    <p>Make sure that the seating area is spacious and comfortable for customers. It should be able to handle high in-flow of customers during festive season and on weekends.</p>
    
    <h4> Area Information </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <p><form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name=""  value="">
    <b>   Right Price</b><br>
    </form>
    
    
    
    <p>Make sure that the price of the location fits in your budget that you made while chalking out your business plan.</p>
    
    <h4> Final Price </h4>
    <textarea  rows="5" cols="40">
    </textarea>
                      
                      <form action="">
                          <input type="submit" value="Submit Task" id="sub19">
                        </form>
                    </div>
                  </div>
                  
                  
                  <div id="section-5">
                    <br>
                    <br>
                    <br><br>
                    <h1>Coffee Equipment Selection</h1>
                    <br>
                    <div class="text">
                      <div id="task3">
                        <h2>Task Details:</h2>
                      </div>
                      <div id="status3">
                        <br>
                        <h2>Hold by: Uttara Kulkarni</h2>
                        <form>
                          <h3>Status:
                          &nbsp;&nbsp;&nbsp;
                          <select>
                        <option value="dis">Select any one</option>
                        <option value="cofftaken">Locked</option>
                        <option value="coffinprog">In Progress</option>
                        <option value="coffcompltd">Completed</option>
                        <option value="coffclosed">Closed</option>
                      </select>
                          <input type="submit" id="buttoncoffsaved5" value="Save Status">
                          <h3>Task Completion Date:<input type="date" id="coff_saved_5"></h3>
                        </form>
                      </h3><br></div>
                      <div><br>
                        <br> <br><br> <br><br><br><br><br> 
                        <br><h2> <br>Task Description:</h2>
                        <p>Choose the coffee equipment carefully.Espresso machines will be the costliest equipment. As it will be a big one-time investment, choose it properly.</p> 
    
    <img src="{% static '/first_app/coffee_6.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <h4> Vendor Name </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4> Equipment Information </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4> Total Cost Details </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
                          <form action="">
                            <input type="submit" value="Submit Task" id="sub20">
                          </form>
                      </div>
                    </div>
    
                    <div id="section-6">
                      <br>
                      <br>
                      <br><br>
                      <h1>Local Laws and Health Regulations</h1>
                      <br>
                      <div class="text">
                        <div id="task3">
                          <h2>Task Details:</h2>
                        </div>
                        <div id="status3">
                          <br>
                          <h2>Hold by: Uttara Kulkarni</h2>
                          <form>
                            <h3>Status:
                              &nbsp;&nbsp;&nbsp;
                              <select>
                            <option value="dis">Select any one</option>
                            <option value="cofftaken">Locked</option>
                            <option value="coffinprog">In Progress</option>
                            <option value="coffcompltd">Completed</option>
                            <option value="coffclosed">Closed</option>
                          </select>
                              <input type="submit" id="buttoncoffsaved6" value="Save Status">
                              <h3>Task Completion Date:<input type="date" id="coff_saved_6"></h3>
                            </form>
                          </h3><br></div>
                        <div><br>
                          <br> <br><br> <br><br> <br><br><br>
                          <br><h2><br>Task Description:</h2>
                           <p>Knowing local laws and health regulations is important before opening the coffee shop. Additionally, the laws impact payroll costs,taxes and health code requirements.</p>
    
    <img src="{% static '/first_app/coffee_7.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <h4>Local laws and health regulations</h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <h4>Additional Comments</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
                          <form action="">
                            <input type="submit" value="Submit Task" id="sub21">
                            
                          </form>
                        </div>
                      </div>
    
                      <div id="section-7">
                        <br>
                        <br>
                        <br><br>
                        <h1>Decide Coffee Menu and Prices</h1>
                        <br>
                        <div class="text">
                          <div id="task3">
                            <h2>Task Details:</h2>
                          </div>
                          <div id="status3">
                            <br>
                            <h2>Hold by: Uttara Kulkarni</h2>
                            <form>
                              <h3>Status:
                                  &nbsp;&nbsp;&nbsp;
                                  <select>
                                <option value="dis">Select any one</option>
                                <option value="cofftaken">Locked</option>
                                <option value="coffinprog">In Progress</option>
                                <option value="coffcompltd">Completed</option>
                                <option value="coffclosed">Closed</option>
                              </select>
                                  <input type="submit" id="buttoncoffsaved7" value="Save Status">
                                  <h3>Task Completion Date:<input type="date" id="coff_saved_7"></h3>
                                </form>
                </h3>
                          </div><br>
                          <div><br>
                            <br> <br><br> <br><br> <br>
                            <h2><br>Task Description:</h2>
                            <img src="{% static '/first_app/coffee_8.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    <p>The coffee shop menu determines equipment requirements,specific space needs and labor needs. To decide on a menu, talk to potential customers and research on the choice of customers about coffee drinks and snacks that they would like to have.</p>
    
    <h4> Researcher Details </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <p>The researcher should ask the following questions:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What will be the USP of your coffee shop?</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What will your signature drink be?</b><br><br> 
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What will your signature snack or food offering be?</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What will your customers get excited about?</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   Why will your customers make a U-turn to visit your coffee stand versus just heading over to Starbucks?</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What menu options can you provide that is ultimately going to keep them coming back again and again?</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   What will be the cost of each item?</b><br><br> 
    <input type="checkbox" style="width:19px; height: 19px; name=""  value=""><b>   Is the cost of an item expensive or cheaper when compared with the other coffee shops in your vicinity?</b><br><br>
    </form>
    
    <h4>Research Results </h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4> Researcher Comments</h4>
    <textarea  rows="5" cols="40">
    </textarea>
                            
                                <form action="">
                                  <input type="submit" value="Submit Task" id="sub22">
                                </form>
    
                          
                <div id="section-8">
                        <br>
                        <br>
                        <br><br>
                        <h1>Sign Business Lease</h1>
                        <br>
                        <div class="text">
                          <div id="task3">
                            <h2>Task Details:</h2>
                          </div>
                          <div id="status3">
                            <br>
                            <h2>Hold by: Uttara Kulkarni</h2>
                            <form>
                              <h3>Status:
                                  &nbsp;&nbsp;&nbsp;
                                  <select>
                                <option value="dis">Select any one</option>
                                <option value="cofftaken">Locked</option>
                                <option value="coffinprog">In Progress</option>
                                <option value="coffcompltd">Completed</option>
                                <option value="coffclosed">Closed</option>
                              </select>
                                  <input type="submit" id="buttoncoffsaved8" value="Save Status">
                                  <h3>Task Completion Date:<input type="date" id="coff_saved_8"></h3>
                                </form>
                </h3>
                          </div><br>
                          <div><br>
                            <br> <br><br> <br><br> <br>
                            <h2><br>Task Description:</h2>
                            <img src="{% static '/first_app/coffee_9.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>Before signing coffee shop lease document,do consider the following points:</p>
    
    <p><b>1. Don't trust your broker to handle everything<br>2. Your business lease will impact your initial costs</b></p>
    
    <h4> Owner Details</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4> Broker Details</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4> Brokerage Cost Details</h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <h4> Lease Agreement Details</h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <h4> Broker Comments</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
                                                               <form action="">
                                  <input type="submit" value="Submit Task" id="sub23">
                                </form>
                                
                                
                                <div id="section-9">
                        <br>
                        <br>
                        <br><br>
                        <h1>Employee Hiring and Training</h1>
                        <br>
                        <div class="text">
                          <div id="task3">
                            <h2>Task Details:</h2>
                          </div>
                          <div id="status3">
                            <br>
                            <h2>Hold by: Uttara Kulkarni</h2>
                            <form>
                              <h3>Status:
                                  &nbsp;&nbsp;&nbsp;
                                  <select>
                                <option value="dis">Select any one</option>
                                <option value="cofftaken">Locked</option>
                                <option value="coffinprog">In Progress</option>
                                <option value="coffcompltd">Completed</option>
                                <option value="coffclosed">Closed</option>
                              </select>
                                  <input type="submit" id="buttoncoffsaved9" value="Save Status">
                                  <h3>Task Completion Date:<input type="date" id="coff_saved_9"></h3>
                                </form>
                </h3>
                          </div><br>
                          <div><br>
                            <br> <br><br> <br><br> <br>
                            <h2><br>Task Description:</h2>
                            <p>It is very important to choose the right employees for the coffee shop as they are the ones who will interact directly with the customers. While hiring, preference should be given to applicants with pleasing personality than ones with experience.</p>
    
    <img src="{% static '/first_app/coffee_10.png' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>Arrange a training program for the newly hired employees.</p>
    
    
    <h4>Final Employee List</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    <h4>Training Information</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
                                                               <form action="">
                                  <input type="submit" value="Submit Task" id="sub24">
                                </form>
                                
                                
                                <div id="section-10">
                        <br>
                        <br>
                        <br><br>
                        <h1>Hold a Grand Opening</h1>
                        <br>
                        <div class="text">
                          <div id="task3">
                            <h2>Task Details:</h2>
                          </div>
                          <div id="status3">
                            <br>
                            <h2>Hold by: Uttara Kulkarni</h2>
                            <form>
                              <h3>Status:
                                  &nbsp;&nbsp;&nbsp;
                                  <select>
                                <option value="dis">Select any one</option>
                                <option value="cofftaken">Locked</option>
                                <option value="coffinprog">In Progress</option>
                                <option value="coffcompltd">Completed</option>
                                <option value="coffclosed">Closed</option>
                              </select>
                                  <input type="submit" id="buttoncoffsaved10" value="Save Status">
                                  <h3>Task Completion Date:<input type="date" id="coff_saved_10"></h3>
                                </form>
                </h3>
                          </div><br>
                          <div><br>
                            <br> <br><br> <br><br> <br>
                            <h2><br>Task Description:</h2>
                            <img src="{% static '/first_app/coffee_11.jpg' %}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>Take time to plan out the grand opening. Starting a coffee shop with a well-planned marketing campaign will help to streamline efforts and save a lot of time as well as money.</p>
    
    <h4>Detailed Marketing Plan</h4>
    <textarea  rows="5" cols="40">
    </textarea>
    
    
                                                               <form action="">
                                  <input type="submit" value="Submit Task" id="sub25">
                                </form>
                                </div>
                                </div>
                          
    </body>
    
    </html>
    