<html>

<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="font-awesome.min.css">
	<link rel="stylesheet" href="main.css">
</head>

<script type="text/javascript">
	window.location.hash = "no-back-button";
	window.location.hash = "Again-No-back-button";
	window.onhashchange = function() {
		window.location.hash = "no-back-button";
	}
</script>

<body>
	<div id="headercons">
		<ul id="ul1_newcheck">
			<li id="li1"><a href='myChecklist.html'>BACK</a></li>
		</ul>
		<ul id="ul2">
			<li id="li1"><a href='home.html' id>PROCESS 9</a></li>
			<li id="li1"><a href='about.html'>ABOUT US</a>
			</li>
			<li id="li1"><a href='services.html'>SERVICES</a>
			</li>
			<li id="li1"><a href='contact.html'>CONTACT</a></li>
			<li id="li1"><a href='signIn.html'>LOGIN</a>
			</li>
		</ul>
	</div>
	<br>
	<div id="headerline">
	</div>
	<div class=" ">
		<div class=" ">

			<div class="">
				<div class="">
					<div class="checklist--wrap">

						<h3 id="consTitle">Checklist: <br>Constructing a Building</h3>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-1">
                      <span class="checklist--index">1</span>
                      <h3>Construction Planning</h3>
                      <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
									</li>
								</ul>
							</div>
						</div>
						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-2">
                                                 <span class="checklist--index">2</span>
                                                 <h3>Environmental Testing and Surveying</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>
								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-3">
                                                 <span class="checklist--index">3</span>
                                                 <h3>Buying Land </h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>
								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-4">
                                                 <span class="checklist--index">4</span>
                                                 <h3>Construction Design</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>
								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-5">
                                                 <span class="checklist--index">5</span>
                                                 <h3>Pre-Construction</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>

								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-6">
                                                 <span class="checklist--index">6</span>
                                                 <h3>Procurement</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>

								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-7">
                                                 <span class="checklist--index">7</span>
                                                 <h3>Construction</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>

								</ul>
							</div>
						</div>

						<div class="checklist">
							<div class="checklist--section">
								<ul class="checklist--items">
									<li id='item-1' class='waves-effect checklist--item checklist-heading'>
										<a href="#section-8">
                                                 <span class="checklist--index">8</span>
                                                 <h3>Post-Construction</h3>
                                                 <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                </a>
									</li>

								</ul>
							</div>
						</div>


					</div>
				</div>
			</div>

			<div class="checklist-information--container">
				<div class="checklist-information--pane">
					<div id="section-1">
						<br>
						<br>
						<br><br>
						<h1>Construction Planning</h1>
						<br>
						<div class="text">
							<div id="task1">
								<h2>Task Details:</h2>
							</div>
							<div id="status1">
								<br>
								<h3>Checklist Due On: 12/11/2017</h3>
								<h3>Hold by: Uttara Kulkarni</h3>
								<form>
									<h3>Status:
									&nbsp;&nbsp;&nbsp;
									<select>
								<option value="dis">Select any one</option>
								<option value="constrtaken">Locked</option>
								<option value="constrinprog">In Progress</option>
								<option value="constrcompltd">Completed</option>
								<option value="constrclosed">Closed</option>
							</select>
									<input type="submit" id="buttonconsaved1" value="Save Status">
									<h3>Task Completion Date:<input type="date" id="cons_saved_1"></h3>
								</form>
							</div>
							<br>
							<div><br><br><br>
								<br> <br><br> <br><br> <br><br><br>
								<h2>Task Description:</h2>
								<p>This is the first step in the process of constructing a building. This includes the following: </p>
								<img src="Construction_1.png" alt="Mountain View" width="700" height="377">


								<form action="">
									<input type="checkbox" id="check1" style="width:19px; height: 19px; name=" " value=" "><b>   Hiring of architect, contractors and civil engineers</b><br>
								</form>

								<p>It is important to hire the correct architect, contractor and civil engineer for the project. The hiring should be done based on qualifications, knowledge and previous construction experience but not on prices.
									<p>

										<h4>Architect Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea>

										<h4>Contractor Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea>

										<h4>Civil Engineer Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea>


										<p>
											<form action=" ">
												<input type="checkbox " id="check2 " style="width:19px; height: 19px; name="" value=""><b>   Identification of Location</b><br>
								</form>

								<p>Finding the correct location for your construction is the most important decision as it is important to ensure that the customers will have access to transport, shopping malls, schools etc. If correct location is not chosen, it may lead to losses.
									Thus, the owner, architect and the contractors should decide the feasibility of the location based on factors like site access, building orientation, utility connections etc.

									<h4> Location Details </h4>
									<textarea rows="5" cols="40">
</textarea>

									<h4> Area Information </h4>
									<textarea rows="5" cols="40">
</textarea>

									<h4> Architect and Contractor Comments </h4>
									<textarea rows="5" cols="40">
</textarea>
									<form action="">
										<input type="submit" value="Submit Task" id="sub1">
									</form>
							</div>
						</div>
					</div>
					<div id="section-2">
						<br>
						<br>
						<br><br>
						<h1>Environmental Testing and Surveying</h1>
						<br>
						<div class="text">
							<div id="task1">
								<h2>Task Details:</h2>
							</div>
							<div id="status1">
								<br>
								<h2>Hold by: Uttara Kulkarni</h2>
								<form>
									<h3>Status:
									&nbsp;&nbsp;&nbsp;
									<select>
								<option value="dis">Select any one</option>
  							<option value="constrtaken">Locked</option>
	  						<option value="constrinprog">In Progress</option>
		  					<option value="constrcompltd">Completed</option>
								<option value="constrclosed">Closed</option>
							</select>
									<input type="submit" id="buttonconsaved2" value="Save Status">
									<h3>Task Completion Date:<input type="date" id="cons_saved_2"></h3>
								</form>
								</h3>
							</div>

							<div><br>
								<br> <br><br> <br><br> <br><br><br> <br>
								<h2>Task Description:</h2>
								<p>It is very important to do environment testing to find out whether there are any contaminants in the soil of the location we are interested in to start the project. Avoid buying any type of contaminated property as removing the contaminants can
									be very expensive.</p>
								<img src="construction_2.jpg" alt="Mountain View" width="700" height="377"><br><br>
								<p>Hire a competent surveyor to produce a boundary and elevation survey for the property.</p>

								<h4> Surveyor Details </h4>
								<textarea rows="5" cols="40">
</textarea>

								<h4> Surveyor Comments </h4>
								<textarea rows="5" cols="40">
</textarea>
								<form action="">
									<input type="submit" value="Submit Task" id="sub2">
								</form>
							</div>
						</div>

						<div id="section-3">
							<br>
							<br>
							<br><br>
							<h1>Buying Land</h1>
							<br>
							<div class="text">
								<div id="task1">
									<h2>Task Details:</h2>
								</div>
								<div id="status1">
									<br>
									<h2>Hold by: Uttara Kulkarni</h2>
									<form>
										<h3>Status:
										&nbsp;&nbsp;&nbsp;
										<select>
									<option value="dis">Select any one</option>
	  							<option value="constrtaken">Locked</option>
		  						<option value="constrinprog">In Progress</option>
			  					<option value="constrcompltd">Completed</option>
									<option value="constrclosed">Closed</option>
								</select>
										<input type="submit" id="buttonconsaved3" value="Save Status">
										<h3>Task Completion Date:<input type="date" id="cons_saved_3"></h3>
									</form>
									</h3>
								</div>
								<br>
								<div><br>
									<br> <br><br> <br><br> <br><br><br>
									<h2>Task Description:</h2>
									<p>After completion of land surveying, planning and environmental testing, make sure that the right land is bought for the project.</p>
									<img src="construction_4.jpg" alt="Mountain View" width="700" height="377"><br><br>


									<h4>Land Purchase Agreement Details</h4>
									<textarea rows="5" cols="40">
</textarea><br><br>

									<h4>Additional Comments</h4>
									<textarea rows="5" cols="40">
</textarea>

									<form action="">
										<input type="submit" value="Submit Task" id="sub3">
									</form>
								</div>
							</div>

							<div id="section-4">
								<br>
								<br>
								<br><br>
								<h1>Construction Design</h1>
								<br>
								<div id="task1">
									<h2>Task Details:</h2>
								</div>
								<div id="status1">
									<br>
									<h2>Hold by: Uttara Kulkarni</h2>
									<form>
										<h3>Status:
										&nbsp;&nbsp;&nbsp;
										<select>
									<option value="dis">Select any one</option>
	  							<option value="constrtaken">Locked</option>
		  						<option value="constrinprog">In Progress</option>
			  					<option value="constrcompltd">Completed</option>
									<option value="constrclosed">Closed</option>
								</select>
										<input type="submit" id="buttonconsaved4" value="Save Status">
										<h3>Task Completion Date:<input type="date" id="cons_saved_4"></h3>
									</form>
									</h3>
								</div><br>
								<div><br>
									<br> <br><br> <br><br> <br>
									<h2><br>Task Description:</h2>
									<p>The architect also seeks contractor’s involvement in the design process. This not only provides the owner and the architect with useful information related to current market pricing but also helps them take quick decisions about the construction.</p>
									<p>This involves the following important steps:</p>

									<form action="">
										<input type="checkbox" style="width:19px; height: 19px; name=" " value=" "><b>   Schematic Design</b><br>
									</form>

									<p>Schematic designs are sketches to identify spaces, shapes and patterns. Materials, sizes, colors and textures must be considered in the sketches. Also, research must be done on what materials and equipment will be used as well as their costs.</p>

									<img src="construction_3.png " alt="Mountain View " width="700 " height="377 "><br><br>


									<h4> Material and Equipment Details </h4>
									<textarea rows="5 " cols="40 ">
</textarea><br><br>

									<h4> Material and Equipment Cost </h4>
									<textarea rows="5 " cols="40 ">
</textarea>

									<p>
										<form action=" ">
											<input type="checkbox " style="width:19px; height: 19px; name="" value=""><b>   Contract Documents</b><br>
									</form>

									<p>Contract drawings are the final drawings and specifications of the construction project. They are used by contractors to determine their bid whereas builders use them for the construction process. Contract documents establish the costs and the
										timeline for each stage of the construction project.</p>

									<img src="construction_5.jpg" alt="Mountain View" width="700" height="377"><br><br>

									<h4>Contract Documents Details</h4>
									<textarea rows="5" cols="40">
</textarea><br><br>

									<h4>Additional Comments</h4>
									<textarea rows="5" cols="40">
</textarea>
									<form action="">
										<input type="submit" value="Submit Task" id="sub4">
									</form>
								</div>

							</div>
							<div id="section-5">
								<br>
								<br>
								<br><br>
								<h1>Pre-Construction</h1>
								<br>
								<div class="text">
									<div id="task1">
										<h2>Task Details:</h2>
									</div>
									<div id="status1">
										<br>
										<h2>Hold by: Uttara Kulkarni</h2>
										<form>
											<h3>Status:
											&nbsp;&nbsp;&nbsp;
											<select>
										<option value="dis">Select any one</option>
		  							<option value="constrtaken">Locked</option>
			  						<option value="constrinprog">In Progress</option>
				  					<option value="constrcompltd">Completed</option>
										<option value="constrclosed">Closed</option>
									</select>
											<input type="submit" id="buttonconsaved5" value="Save Status">
											<h3>Task Completion Date:<input type="date" id="cons_saved_5"></h3>
										</form>
										</h3><br></div>
									<div><br>
										<br> <br><br> <br><br><br><br><br>
										<br>
										<h2> <br>Task Description:</h2>
										<img src="construction_6.jpg" alt="Mountain View" width="700" height="377">

										<p>This stage involves preparing the required list of materials and sending it to different contractors and vendors for quotes.</p>
										<p>This stage begins when the owner gives a notice to proceed to the contractor that they have chosen through the bidding process.</p>
										<p>The main steps involved in this stage are:</p>

										<input type="checkbox" style="width:19px; height: 19px; name=" " value=" "><b>   Hire Project Manager, Contract Administrator, Superintendent and Field engineers</b><br>
										</form><br>


										<p><b>Project Manager</b>- The project manager is a person who is in-charge of the project team.</p>

										<h4> Project Manager Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea><br><br>


										<p><b>Contract Administrator</b>- The contract administrator assists the project manager and the superintendent with the contract documents.</p>

										<h4> Contract Administrator Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea><br><br>


										<p><b>Superintendent</b>- The superintendent’s job is to ensure the project is on schedule and every part of the project is going as planned.</p>

										<h4> Superintendent Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea><br><br>


										<p><b>Field Engineer</b>- This is an entry-level position and mostly responsible for paperwork.</p>

										<h4> Field Engineer Details </h4>
										<textarea rows="5 " cols="40 ">
</textarea>


										<p>
											<form action=" ">
												<input type="checkbox " style="width:19px; height: 19px; name="" value=""><b>   Assign work to the project team</b><br>
										</form>

										<p>The project team consisting of project manager, contract administrator, superintendent and field engineers is assigned work according to the project plan.</p>

										<h4>Work Allocation Document Details</h4>
										<textarea rows="5" cols="40">
</textarea>

										<h4>Comments</h4>
										<textarea rows="5" cols="40">
</textarea>
										<form action="">
											<input type="submit" value="Submit Task" id="sub5">
										</form>
									</div>
								</div>

								<div id="section-6">
									<br>
									<br>
									<br><br>
									<h1>Procurement</h1>
									<br>
									<div class="text">
										<div id="task1">
											<h2>Task Details:</h2>
										</div>
										<div id="status1">
											<br>
											<h2>Hold by: Uttara Kulkarni</h2>
											<form>
												<h3>Status:
													&nbsp;&nbsp;&nbsp;
													<select>
												<option value="dis">Select any one</option>
				  							<option value="constrtaken">Locked</option>
					  						<option value="constrinprog">In Progress</option>
						  					<option value="constrcompltd">Completed</option>
												<option value="constrclosed">Closed</option>
											</select>
													<input type="submit" id="buttonconsaved6" value="Save Status">
													<h3>Task Completion Date:<input type="date" id="cons_saved_6"></h3>
											</form>
											</h3><br></div>
										<div><br>
											<br> <br><br> <br><br> <br><br><br>
											<br>
											<h2><br>Task Description:</h2>
											<p>This is the stage in which the labor, materials and equipment needed to complete the construction project are acquired. If the company does not do this on their own, they hire sub-contractors.</p>

											<p>Subcontractor is a contractor who specialize in one aspect of the construction work such as concrete, melding, glass, Subcontractors are hired the same way a general contractor would be, which is through the bidding.</p>

											<img src="construction_7.png" alt="Mountain View" width="700" height="377"><br><br>

											<h4> Subcontractor Details </h4>
											<textarea rows="5" cols="40">
</textarea><br><br>

											<h4>Procurement Document Details</h4>
											<textarea rows="5" cols="40">
</textarea><br><br>

											<h4>Subcontractor Comments</h4>
											<textarea rows="5" cols="40">
</textarea>
											<form action="">
												<input type="submit" value="Submit Task" id="sub6">

											</form>
										</div>
									</div>

									<div id="section-7">
										<br>
										<br>
										<br><br>
										<h1>Construction</h1>
										<br>
										<div class="text">
											<div id="task1">
												<h2>Task Details:</h2>
											</div>
											<div id="status1">
												<br>
												<h2>Hold by: Uttara Kulkarni</h2>
												<form>
													<h3>Status:
															&nbsp;&nbsp;&nbsp;
															<select>
														<option value="dis">Select any one</option>
						  							<option value="constrtaken">Locked</option>
							  						<option value="constrinprog">In Progress</option>
								  					<option value="constrcompltd">Completed</option>
														<option value="constrclosed">Closed</option>
													</select>
															<input type="submit" id="buttonconsaved7" value="Save Status">
															<h3>Task Completion Date:<input type="date" id="cons_saved_7"></h3>
												</form>
												</h3>
											</div><br>
											<div><br>
												<br> <br><br> <br><br> <br>
												<h2><br>Task Description:</h2>
												<img src="construction_8.jpg" alt="Mountain View" width="700" height="377"><br><br>

												<p>The construction phase consists of the following steps:</p>

												<input type="checkbox" style="width:19px; height: 19px; name=" " value=" "><b>   Construction Meeting</b><br>
												</form>


												<p>This meeting is brought together by the superintendent and the project manager to make decisions about working hours, material storage, quality control and site access.</p>

												<h4> Meeting Outcome </h4>
												<textarea rows="5 " cols="40 ">
</textarea>

												<br><br><p><input type="checkbox " style="width:19px; height: 19px; name="" value=""><b>   Major Construction Milestones</b><br>
												</form>


												<p>This step includes adhering to the major construction milestones so that the project gets completed on time.</p>

												<h4> Project Manager Comments </h4>
												<textarea rows="5" cols="40">
</textarea>

												<br><br>
												<p><input type="checkbox" style="width:19px; height: 19px; name=" " value=" "><b>   Inspection</b><br>
														</form>


														<p>Each step of construction phase is inspected by the appropriate state construction inspectors as well as the project manager. The foundation, framing, plumbing, electrical and other construction inspections are completed once each part of
															the building is completed.</p>

														<h4>Inspection Document Details</h4>
														<textarea rows="5 " cols="40 ">
</textarea>

														<h4>Additional Comments</h4>
														<textarea rows="5 " cols="40 ">
</textarea>
														<form action=" ">
															<input type="submit " value="Submit Task " id="sub7 ">
														</form>

											</div>
										</div>

										<div id="section-8 ">
											<br>
											<br>
											<br><br>
											<h1>Post-Construction</h1>
											<br>
											<div class="text ">
												<div id="task1 ">
													<h2>Task Details:</h2>
												</div>
												<div id="status1 ">
													<br>
													<h2>Hold by: Uttara Kulkarni</h2>
													<form>
														<h3>Status:
													&nbsp;&nbsp;&nbsp;
													<select>
												<option value="dis ">Select any one</option>
				  							<option value="constrtaken ">Locked</option>
					  						<option value="constrinprog ">In Progress</option>
						  					<option value="constrcompltd ">Completed</option>
												<option value="constrclosed ">Closed</option>
											</select>
													<input type="submit " id="buttonconsaved8 " value="Save Status ">
													<h3>Task Completion Date:<input type="date " id="cons_saved_8 "></h3>
												</form>
												</h3>
												</div><br>
												<div><br>
													<br> <br><br> <br><br>
													<br><h2><br>Task Description:</h2>
													<img src="construction_9.png " alt="Mountain View " width="700 " height="377 "><br><br>

													<p>When the construction has been completed, following steps need to be completed before the building is given to customers for occupancy:</p>

													<p><input type="checkbox " style="width:19px; height: 19px; name="" value=""><b>   Project Punch-Out</b><br>
													</form>

													<p>It means that the project must look out for any issues like replacing a cracked tile or changing paint color before it is considered finished.</p>

													<p><input type="checkbox" style="width:19px; height: 19px; name=" " value=" "><b>   Architect Approval</b><br>
															</form>

															<p>The architect for the project inspects the building and issues it a certificate of substantial completion if it meets every requirement.</p>

															<h4>Approval Certificate Details</h4>
															<textarea rows="5 " cols="40 ">
</textarea><br><br>

															<h4> Architect Comments </h4>
															<textarea rows="5 " cols="40 ">
</textarea><br><br>

															<p><input type="checkbox " style="width:19px; height: 19px; name="" value=""><b>   Occupancy Certificate</b><br>
														</form>

														<p>Once the construction work is completed, the contractor must get an Occupancy Certificate from the Municipality from where he got the permit.</p>

														<h4>Occupancy Certificate Details</h4>
														<textarea rows="5" cols="40">
</textarea>
											</div>
										</div>

										<form action="">
											<input type="submit" value="Submit Task" id="sub8">
										</form>

									</div>
								</div>


</body>

</html>
