<!DOCTYPE HTML>
<html>
{% load static %}
<link href="{% static '/first_app/style.css' %}" rel='stylesheet'>

<div id="container">
<!-- navbar -->
<header>
    <ul id="ul1">
      <li><a href='/'>PROCESS 9</a></li>
      {%if user%}
      <li>Hi, {{user.username}}</li>
      <li><a href='logout'>LOGOUT</a> </li>
      {% else %}
      <li><a href='signin'>LOGIN</a> </li>
      {% endif %}
    </ul>
    <ul id="ul2">
      <li><a href='about'>ABOUT US</a></li>
      <li><a href='services'>SERVICES</a></li>
      <li><a href='contact'>CONTACT</a></li>
    </ul>
  </header>
<!--  -->
</div>
<div id="main_pswd">
  <div id="contactimg">
  </div>
  <div id="contactdiv">
    <div>
      <h1 id="tag_h1_contact">Contact Details</h1>
    </div>
    <div id="contactbody">
      <h3>
      <br>
      <br>Address: 1 Washington Sq, San Jose, CA 95192<br>
      <br>Contact: +1 (000) 000 0000<br>
      <br>Email id.: abc.process9@gmail.com<br>
      </h3>
    </div>
  </div>
</div>
<footer>
  Project Title: Process 9 <br> Description: CmpE 272 - Project Team 9 - Process WorkFlow Automation
</footer>
</div>


</html>

