<html>
    
    <head>
      {% load static %}
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link href="{% static '/first_app/main.css' %}" rel='stylesheet'>
      <link href="{% static '/first_app/font-awesome.min.css' %}" rel='stylesheet'>
    </head>
    
    <script type="text/javascript">
      window.location.hash = "no-back-button";
      window.location.hash = "Again-No-back-button";
      window.onhashchange = function() {
        window.location.hash = "no-back-button";
      }
    </script>

    <body>
      <div id="headercons">
        <ul id="ul1_newcheck">
          <li id="li1"><a href='newchecklist'>BACK</a></li>
        {%if user%}
        <li id="li1">Hi, {{user.username}}</li>
        <li id="li1"><a href='logout'>LOGOUT</a> </li>
        {% else %}
        <li id="li1"><a href='signin'>LOGIN</a> </li>
        {% endif %}
        </ul>
        <ul id="ul2">
          <li id="li1"><a href='/' id>PROCESS 9</a></li>
          <li id="li1"><a href='about'>ABOUT US</a>
          </li>
          <li id="li1"><a href='services'>SERVICES</a>
          </li>
          <li id="li1"><a href='contact'>CONTACT</a></li>
        </ul>
      </div>
      <br>
      <div id="headerline">
      </div>
      <div class=" ">
        <div class=" ">
    
          <div class="">
            <div class="">
              <div class="checklist--wrap">
    
                <h3 id="itTitle">Checklist: <br>Software Development Process</h3>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-1">
                          <span class="checklist--index">1</span>
                          <h3>Project Planning</h3>
                          <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-2">
                                                     <span class="checklist--index">2</span>
                                                     <h3>Requirement Gathering and Analysis</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-3">
                                                     <span class="checklist--index">3</span>
                                                     <h3>Design </h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-4">
                                                     <span class="checklist--index">4</span>
                                                     <h3>Coding</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-5">
                                                     <span class="checklist--index">5</span>
                                                     <h3>Testing</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-6">
                                                     <span class="checklist--index">6</span>
                                                     <h3>Deployment</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
    
                <div class="checklist">
                  <div class="checklist--section">
                    <ul class="checklist--items">
                      <li id='item-1' class='waves-effect checklist--item checklist-heading'>
                        <a href="#section-7">
                                                     <span class="checklist--index">7</span>
                                                     <h3>Maintenance and Support Phase</h3>
                                                     <i class="fa fa-angle-right" aria-hidden="true"></i>
                                                    </a>
                      </li>
    
                    </ul>
                  </div>
                </div>
    
                
              </div>
            </div>
          </div>
    
          <div class="checklist-information--container">
            <div class="checklist-information--pane">
              <div id="section-1">
                <br>
                <br>
                <br><br>
                <h1>Construction Planning</h1>
                <br>
                <div class="text">
                  <div id="task2">
                    <h2>Task Details:</h2>
                  </div>
                  <div id="status2">
                    <br>
                    <h3>Checklist Due On: 12/11/2017</h3>
                    <h3>Hold by: Uttara Kulkarni</h3>
                    <form>
                      <h3>Status:
                      &nbsp;&nbsp;&nbsp;
                      <select>
                    <option value="dis">Select any one</option>
                    <option value="ittaken">Locked</option>
                    <option value="itinprog">In Progress</option>
                    <option value="itcompltd">Completed</option>
                    <option value="itclosed">Closed</option>
                  </select>
                      <input type="submit" id="buttonconsaved1" value="Save Status">
                      <h3>Task Completion Date:<input type="date" id="it_saved_1"></h3>
                    </form>
                  </div>
                  <br>
                  <div><br><br><br>
                    <br> <br><br> <br><br> <br><br><br>
                    <h2>Task Description:</h2>
                    <h3>1. Project Planning</h3>
    
    <img src="{% static 'first_app/software_1.jpg'%}" alt="Mountain View" width="700" height="377">
    
    <p>This is the first step in the software development process. The objective of this phase is to do the following:</p>
    
    <b><p>a. Develop a Project Definition Document</b></p>
    
    <p>The project definition document should include the following:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Identify stakeholders and their responsibilities</b><br><br>
    </form>
    
    
    <h4>Stakeholder Details </h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <br><p><form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Assign project manager</b><br><br>
    </form></p>
    
    
    <h4>Project Manager Details </h4>
    <textarea rows="5" cols="40">
    </textarea><br><br>
    
    
    
    <b><p>b. Develop a project management plan<p></b>
    
    <p>The project management plan should include the following:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Define project schedule</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Identify resource requirements and allocation</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Include cost estimation and project budget plan</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Schedule milestones and reviews</b><br><br>
    
    </form>
                            <form action="">
                              <input type="submit" value="Submit Task" id="sub9">
                            </form>
                  </div>
                </div>
              </div>
              <div id="section-2">
                <br>
                <br>
                <br><br>
                <h1>Requirement Gathering and Analysis</h1>
                <br>
                <div class="text">
                  <div id="task2">
                    <h2>Task Details:</h2>
                  </div>
                  <div id="status2">
                    <br>
                    <h2>Hold by: Uttara Kulkarni</h2>
                    <form>
                      <h3>Status:
                      &nbsp;&nbsp;&nbsp;
                      <select>
                    <option value="dis">Select any one</option>
                    <option value="ittaken">Locked</option>
                    <option value="itinprog">In Progress</option>
                    <option value="itcompltd">Completed</option>
                    <option value="itclosed">Closed</option>
                  </select>
                      <input type="submit" id="buttonconsaved2" value="Save Status">
                      <h3>Task Completion Date:<input type="date" id="cons_saved_2"></h3>
                    </form>
                  </h3>
                  </div>
    
                  <div><br>
                    <br> <br><br> <br><br> <br><br><br> <br>
                    <h2>Task Description:</h2>
                    <img src="{% static 'first_app/software_2.jpg'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>In this phase, the system inputs, processes, outputs and interfaces are defined in more detail. At the end of this phase, the system requirements will be defined at the functional level.Requirement analysis does not include the programs, files and data streams.</p>
    
    <p>The following steps should be performed in this phase:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   The Business Analyst develops a plan to carry out requirement gathering and analysis</b><br><br>
    </form>
    
    
    <h4>Business Analyst Details </h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <h4>Business Analyst Comments </h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    
    <p><form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   The Business Analyst must work carefully with the Subject Matter Expert(SME) to generate a Functional Requirements Document</b><br><br>
    </form></p>
    
    
    <h4>Subject Matter Expert Details </h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <h4>Subject Matter Expert Comments </h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    
    
    <p>The Functional Requirements Document can include:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Entity-Relationship Diagrams</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Activity Diagrams</b><br><br> 
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Business Algorithms</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Mock-Ups</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px;" name="" value=""><b>   Requirements Traceability Matrix</b><br><br>
    </form>
    
    
    <p>This phase ends when customer signs off the Functional Requirements Document.</p>
    
    <h4>Customer Comments</h4>
    <textarea rows="5" cols="40">
    </textarea>
                    <form action="">
                      <input type="submit" value="Submit Task" id="sub10">
                    </form>
                  </div>
                </div>
    
                <div id="section-3">
                  <br>
                  <br>
                  <br><br>
                  <h1>Design</h1>
                  <br>
                  <div class="text">
                    <div id="task2">
                      <h2>Task Details:</h2>
                    </div>
                    <div id="status2">
                      <br>
                      <h2>Hold by: Uttara Kulkarni</h2>
                      <form>
                        <h3>Status:
                        &nbsp;&nbsp;&nbsp;
                        <select>
                      <option value="dis">Select any one</option>
                      <option value="ittaken">Locked</option>
                      <option value="itinprog">In Progress</option>
                      <option value="itcompltd">Completed</option>
                      <option value="itclosed">Closed</option>
                    </select>
                        <input type="submit" id="buttonconsaved3" value="Save Status">
                        <h3>Task Completion Date:<input type="date" id="cons_saved_3"></h3>
                      </form>
                    </h3>
                    </div>
                    <br>
                    <div><br>
                      <br> <br><br> <br><br> <br><br><br>
                      <h2>Task Description:</h2>
                      <img src="{% static 'first_app/software_3.jpg'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>The objective of this phase is to transform the identified functional requirements into a detailed system architecture that is feasible, valuable and robust.</p>
    
    <p>The System Design Document is the outcome of the design phase of software development process.</p>
    
    <p>The System Design Document includes the following:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Business Application Logic</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   User Interface Design</b><br><br> 
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Database Design</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Process Diagrams</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Screen Layout Diagrams</b><br><br>
    </form>
    
    
                      <form action="">
                        <input type="submit" value="Submit Task" id="sub11">
                      </form>
                    </div>
                  </div>
    
                  <div id="section-4">
                    <br>
                    <br>
                    <br><br>
                    <h1>Coding</h1>
                    <br>
                    <div id="task2">
                      <h2>Task Details:</h2>
                    </div>
                    <div id="status2">
                      <br>
                      <h2>Hold by: Uttara Kulkarni</h2>
                      <form>
                        <h3>Status:
                        &nbsp;&nbsp;&nbsp;
                        <select>
                      <option value="dis">Select any one</option>
                      <option value="ittaken">Locked</option>
                      <option value="itinprog">In Progress</option>
                      <option value="itcompltd">Completed</option>
                      <option value="itclosed">Closed</option>
                    </select>
                        <input type="submit" id="buttonconsaved4" value="Save Status">
                        <h3>Task Completion Date:<input type="date" id="cons_saved_4"></h3>
                      </form>
                    </h3>
                    </div><br>
                    <div><br>
                      <br> <br><br> <br><br> <br>
                      <h2><br>Task Description:</h2>
                      <img src="{% static 'first_app/software_4.jpg'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>The main objective of this phase is to transform the system architecture into a fully-functional working system that is consistent with technical and business requirements.</p>
    
    <p>The coding phase includes the following steps:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Coding the software according to approved architecture by satisfying all industry standards</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Perform Unit Testing</b><br><br> 
    </form>
                        <form action="">
                          <input type="submit" value="Submit Task" id="sub12">
                        </form>
                    </div>
    
                  </div>
                  <div id="section-5">
                    <br>
                    <br>
                    <br><br>
                    <h1>Testing</h1>
                    <br>
                    <div class="text">
                      <div id="task2">
                        <h2>Task Details:</h2>
                      </div>
                      <div id="status2">
                        <br>
                        <h2>Hold by: Uttara Kulkarni</h2>
                        <form>
                          <h3>Status:
                          &nbsp;&nbsp;&nbsp;
                          <select>
                        <option value="dis">Select any one</option>
                        <option value="ittaken">Locked</option>
                        <option value="itinprog">In Progress</option>
                        <option value="itcompltd">Completed</option>
                        <option value="itclosed">Closed</option>
                      </select>
                          <input type="submit" id="buttonconsaved5" value="Save Status">
                          <h3>Task Completion Date:<input type="date" id="cons_saved_5"></h3>
                        </form>
                      </h3><br></div>
                      <div><br>
                        <br> <br><br> <br><br><br><br><br> 
                        <br><h2> <br>Task Description:</h2>
                        <img src="{% static 'first_app/software_5.png'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>The objective of this phase is to perform system integration to ensure that the system fulfils all requirements with proper integration of all the system components.</p>
    
    <p>The system may also require additional tests like below depending upon the complexity of the requirements:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Security Testing</b><br><br>
    
    <h4>Tester Comments<h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <p><input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Performance Testing</b><br><br>
    
    <h4>Tester Comments<h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <p><input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Stress Testing</b><br><br>
    
    <h4>Tester Comments<h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <p><input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Compatibility Testing</b><br><br>
    
    <h4>Tester Comments<h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    <p><input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Regression Testing</b><br><br>
    <h4>Tester Comments<h4>
    <textarea rows="5" cols="40">
    </textarea>
    
    </form>
    
                          <form action="">
                            <input type="submit" value="Submit Task" id="sub13">
                          </form>
                      </div>
                    </div>
    
                    <div id="section-6">
                      <br>
                      <br>
                      <br><br>
                      <h1>Deployment</h1>
                      <br>
                      <div class="text">
                        <div id="task2">
                          <h2>Task Details:</h2>
                        </div>
                        <div id="status2">
                          <br>
                          <h2>Hold by: Uttara Kulkarni</h2>
                          <form>
                            <h3>Status:
                              &nbsp;&nbsp;&nbsp;
                              <select>
                            <option value="dis">Select any one</option>
                            <option value="ittaken">Locked</option>
                            <option value="itinprog">In Progress</option>
                            <option value="itcompltd">Completed</option>
                            <option value="itclosed">Closed</option>
                          </select>
                              <input type="submit" id="buttonconsaved6" value="Save Status">
                              <h3>Task Completion Date:<input type="date" id="cons_saved_6"></h3>
                            </form>
                          </h3><br></div>
                        <div><br>
                          <br> <br><br> <br><br> <br><br><br>
                          <br><h2><br>Task Description:</h2>
                          <img src="{% static 'first_app/software_6.png'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>The objective of the deployment phase is to install the system in production environment and to bring it into operation.</p>
    
    <p>The system should fulfil the following criteria:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Satisfy the business needs and functional requirements</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Give System Training</b><br><br> 
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Adhere to Service Level Agreement</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Operates as per the criteria in the User Manual</b><br><br>
    <input type="checkbox" style="width:19px; height: 19px; name="" value=""><b>   Create an Implementation Report</b><br><br>
    </form>
    
                          <form action="">
                            <input type="submit" value="Submit Task" id="sub14">
                            
                          </form>
                        </div>
                      </div>
    
                      <div id="section-7">
                        <br>
                        <br>
                        <br><br>
                        <h1>Maintenance and Support Phase</h1>
                        <br>
                        <div class="text">
                          <div id="task2">
                            <h2>Task Details:</h2>
                          </div>
                          <div id="status2">
                            <br>
                            <h2>Hold by: Uttara Kulkarni</h2>
                            <form>
                              <h3>Status:
                                  &nbsp;&nbsp;&nbsp;
                                  <select>
                                <option value="dis">Select any one</option>
                                <option value="ittaken">Locked</option>
                                <option value="itinprog">In Progress</option>
                                <option value="itcompltd">Completed</option>
                                <option value="itclosed">Closed</option>
                              </select>
                                  <input type="submit" id="buttonconsaved7" value="Save Status">
                                  <h3>Task Completion Date:<input type="date" id="cons_saved_7"></h3>
                                </form>
                </h3>
                          </div><br>
                          <div><br>
                            <br> <br><br> <br><br> <br>
                            <h2><br>Task Description:</h2>
                            <img src="{% static 'first_app/software_7.jpg'%}" alt="Mountain View" width="700" height="377"><br><br>
    
    <p>Maintenance and Support Phase includes the following:</p>
    
    <form action="">
    <input type="checkbox" style="width:19px;" height: 19px; name="" value=""><b>   Post-Implementation Debugging</b><br><br>
    <input type="checkbox" style="width:19px;" height: 19px; name="" value=""><b>   System corrections, additions, changes and upgrades to ensure that the system meets business requirements.</b><br><br> 
    <input type="checkbox" style="width:19px;" height: 19px; name="" value=""><b>   Keep system live</b><br><br>
    <input type="checkbox" style="width:19px;" height: 19px; name="" value=""><b>   Provide user support via helpdesk</b><br><br>
    </form>
                                <form action="">
                                  <input type="submit" value="Submit Task" id="sub15">
                                </form>
    
                          </div>
                        </div>
    
                        
    
                          
    </body>
    
    </html>
    