<!DOCTYPE html>
<html>
    {% load static %}
    <link href="{% static '/first_app/style.css' %}" rel='stylesheet'>

<body>
  <script type="text/javascript">
    function toggleContainer(id) {
      console.log(id);
      $(".toHideContainer").hide();
      if (id == "tempnamenew1") {
        $("#listconstrhome").show();
      } else if (id == "tempnamenew2") {
        $("#listcoffhome").show();
      } else if (id == "tempnamenew3") {
        $("#listIThome").show();
      }
    }
    window.location.hash = "no-back-button";
    window.location.hash = "Again-No-back-button"; //again because google chrome don't insert first hash into history
    window.onhashchange = function() {
      window.location.hash = "no-back-button";
    }
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  </script>
<!-- navbar -->
<header>
    <ul id="ul1">
      <li><a href='/'>PROCESS 9</a></li>
      {%if user%}
      <li>{{user.name}}</li>
      <li><a href='logout'>LOGOUT</a> </li>
      {% else %}
      <li><a href='signin'>LOGIN</a> </li>
      {% endif %}
    </ul>
    <ul id="ul2">
      <li><a href='about'>ABOUT US</a></li>
      <li><a href='services'>SERVICES</a></li>
      <li><a href='contact'>CONTACT</a></li>
    </ul>
  </header>
<!--  -->
  <div id="main_newcheck">
    <div id="newcheck_title">
      <h2 id="newcheck_line">Select a Template from below to <br>Create your Checklist</h2>
    </div>
    <div id="container">
      <div id="step1check_new1">
        <input type="button" id="tempnamenew1" value="Constructing a Building" onclick="toggleContainer('tempnamenew1')">
      </div>
      <div id="step1check_new2">
        <input type="button" id="tempnamenew2" value="Setting up a Coffee Shop" onclick="toggleContainer('tempnamenew2')">
      </div>
      <div id="step1check_new3">
        <input type="button" id="tempnamenew3" value="Software Development Process" onclick="toggleContainer('tempnamenew3')">
      </div>
    </div>
  </div>
  <div id="listcoffhome" class="toHideContainer" style="display: none">
    <h2 id="listconstruct_line">Setting up a Coffee Shop</h2>
    <div id="coffeebg1">
      <br><br><br>
      <div id="listcons">
        <br>
        <form action="/create" method="post">
          <h3>Checklist Title: <input type="text" id="checkname1" placeholder="Enter Checklist Title Here" ><br></h3>
          <h3>Due Date: <input type="date" id="date1"><br></h3>
          <h3><input name='coffee' type="checkbox" id="cflist0" class="form-check-input"> Create Business Plan</h3>
          <h3><input name='coffee' type="checkbox" id="cflist1" class="form-check-input"> Market Research</h3>
          <h3><input name='coffee' type="checkbox" id="cflist2" class="form-check-input"> Coffee Shop Location</h3>
          <h3><input name='coffee' type="checkbox" id="cflist3" class="form-check-input"> Create Floor Plan</h3>
          <h3><input name='coffee' type="checkbox" id="cflist4" class="form-check-input"> Coffee Equipment Selection</h3>
          <h3><input name='coffee' type="checkbox" id="cflist5" class="form-check-input"> Local laws and Health Regulations</h3>
          <h3><input name='coffee' type="checkbox" id="cflist6" class="form-check-input"> Decide Coffee Menu and Prices</h3>
          <h3><input name='coffee' type="checkbox" id="cflist7" class="form-check-input"> Sign Business Lease</h3>
          <h3><input name='coffee' type="checkbox" id="cflist8" class="form-check-input"> Employee Hiring and Training</h3>
          <h3><input name='coffee' type="checkbox" id="cflist9" class="form-check-input"> Hold a Grand Opening</h3>
          <input type="submit" value="Create" id="subcoflist">
        </form>
        <br>
      </div>
    </div>
  </div>
  <div id="listconstrhome" class="toHideContainer" style="display: none">
    <h2 id="listconstruct_line">Constructing a Building</h2>
    <div id="constrbg1">
      <br><br><br>
      <div id="listcons">
        <br>
        <form action="/create" method="post">
          {% csrf_token %}
          <input type="hidden" name="temp" value="building">
          <h3>Checklist Title: <input type="text" id="checkname2" placeholder="Enter Checklist Title Here" name="title"><br></h3>
          <h3>Due Date: <input type="date" id="date2" name="date"><br></h3>
          <h3><input type="checkbox" id="cstlist0" name="sections" value="1"> Construction Planning</h3>
          <h3><input type="checkbox" id="cstlist1" name="sections" value="2"> Environmental Testing and Surveying</h3>
          <h3><input type="checkbox" id="cstlist4" name="sections" value="3"> Buying the Land for Construction</h3>
          <h3><input type="checkbox" id="cstlist3" name="sections" value="4"> Construction Design</h3>
          <h3><input type="checkbox" id="cstlist5" name="sections" value="5"> Pre-Construction</h3>
          <h3><input type="checkbox" id="cstlist6" name="sections" value="6"> Procurement</h3>
          <h3><input type="checkbox" id="cstlist7" name="sections" value="7"> Construction Phase</h3>
          <h3><input type="checkbox" id="cstlist8" name="sections" value="8"> Post-Construction Phase</h3>  
          <input type="checkbox" id="subscribeNews" name="subscribe" value="newsletter">      
          <input type="submit" value="Create" id="subconstrlist">
        </form>
        <br>
      </div>
    </div>
  </div>
  <div id="listIThome" class="toHideContainer" style="display: none">
    <h2 id="listconstruct_line">Software Deployment Process</h2>
    <div id="ITbg1">
      <br><br><br>
      <div id="listcons">
        <br>
        <form action="/create" method="post">
          <h3>Checklist Title: <input type="text" id="checkname3" placeholder="Enter Checklist Title Here" ><br></h3>
          <h3>Due Date: <input type="date" id="date3"><br></h3>
          <h3><input type="checkbox" id="itlist0"> Project Planning</h3>
          <h3><input type="checkbox" id="itlist1"> Requirement Gathering and Analysis</h3>
          <h3><input type="checkbox" id="itlist4"> Design</h3>
          <h3><input type="checkbox" id="itlist3"> Coding</h3>
          <h3><input type="checkbox" id="itlist5"> Testing</h3>
          <h3><input type="checkbox" id="itlist6"> Deployment</h3>
          <h3><input type="checkbox" id="itlist7"> Maintenance and Support Phase</h3>
          <input type="submit" value="Create" id="subITlist">
        </form>
        <br>
      </div>
    </div>
  </div>
  <br><br><br><br><br><br><br><br><br><br><br>
  <footer>
    Project Title: Process 9 <br> Description: CmpE 272 - Project Team 9 - Process WorkFlow Automation
  </footer>
</body>

</html>
