<!DOCTYPE HTML>
<html>
{% load static %}
<link href="{% static '/first_app/style.css' %}" rel='stylesheet'>
<div id="container">
<!-- navbar -->
<header>
    <ul id="ul1">
      <li><a href='/'>PROCESS 9</a></li>
      {%if user%}
      <li>Hi, {{user.username}}</li>
      <li><a href='logout'>LOGOUT</a> </li>
      {% else %}
      <li><a href='signin'>LOGIN</a> </li>
      {% endif %}
    </ul>
    <ul id="ul2">
      <li><a href='about'>ABOUT US</a></li>
      <li><a href='services'>SERVICES</a></li>
      <li><a href='contact'>CONTACT</a></li>
    </ul>
  </header>
<!--  -->
</div>
<div id="main_services">
  <div id="img_services">
  </div>
  <h1 id="text_services">Choose from below to 'View your Dash Board' or 'Create/View checklists'</h1>
  <div id="steps_home_dashBoard">
    <br><br>
    <a href="dashBoard">
      <div id="step_1_dashBoard">
        <br>
        <div id="step1img_dashBoard">
          <h2><center>Dashboard</center></h2>
        </div>
        <br><br><br><br><br><br><br><br><br>
      </div>
    </a>
    <a href="checklist">
      <div id="step_2_dashBoard">
        <br>
        <div id="step2img_dashBoard">
          <h2><center>New Checklist</center></h2>
        </div>
        <br><br><br><br><br><br><br><br><br>
      </div>
    </a>
  </div>
</div>
<footer>
  <br> Title: Process 9 <br> CmpE 272 - Project Team 9 - Process WorkFlow Automation
</footer>
