<html>

{% load static %}
<link href="{% static '/first_app/style.css' %}" rel='stylesheet'>

<body>
    
  <div id="container">
<!-- navbar -->
<header>
    <ul id="ul1">
      <li><a href='/'>PROCESS 9</a></li>
      {%if user%}
      <li>Hi, {{user.username}}</li>
      <li><a href='logout'>LOGOUT</a> </li>
      {% else %}
      <li><a href='signin'>LOGIN</a> </li>
      {% endif %}
    </ul>
    <ul id="ul2">
      <li><a href='about'>ABOUT US</a></li>
      <li><a href='services'>SERVICES</a></li>
      <li><a href='contact'>CONTACT</a></li>
    </ul>
  </header>
<!--  -->
  </div>

  <div id="signinpart1">
  </div>
	{% if messages %}
  {% for message in messages %}
  <h1 style="background-color: red">{{ message }}</h1>
 {% endfor %}
 {% endif %}
 <!-- choose signin or signup-->
 <div id="signinbutton">
  <form>
    <h2 id="SignInNote1">Already a member?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      New to Process 9?</h2>
    <input type="button" id="olduserbutton" value="SIGN IN" name="olduserbutton" onclick="toggleContainer('olduserbutton')">
    <input type="button" id="newuserbutton" value="SIGN UP" name="newuserbutton_1" onclick="toggleContainer('newuserbutton')">
  </form>
</div>

<!-- show forms -->
<div id="main_signin">

  <!-- signin form -->
  <div id="step_1_signin" class="toHideContainer" style="display: none">
    <div id="step1img_signin">
      <h1 id="titlesignin">Process 9</h1>
    </div>
    <br>
    <br>
    <form id='signin' action="/login" method="post">
      {% csrf_token %}
      <!-- <input type="text" placeholder="Name" id="namesignin" name="name">
      <br><br> -->
      <input type="text" placeholder="Email Id" id="emailsignid1" name="emailsign1">
      <br><br><br>
      <input type="password" placeholder="Password" id="pswdsign1" name="pw">
      <br><br>
      <input type="button" value="Login" id="submitsign1" onclick="ValidateEmail1('signin','emailsign1')">
    </form>
    <h4><a href="ChngPswd.html" id="forgothyper">Forgot Password?</a></h4>
  </div>

  <!-- signup form -->
  <div id="step_2_signin" class="toHideContainer" style="display: none">
    <div id="step1img_signin">
      <h1 id="titlesignin">Process 9</h1>
    </div>
    <form id='signup' action="/register" method="post">
        {% csrf_token %}
      <input type="text" placeholder="Name" id="namesignup" name="name">
      <br><br>
      <input type="text" placeholder="Email Id" id="emailsignid2" name="emailsign2">
      <br><br>
      <input type="password" placeholder="New Password" id="pswdsign2" name="password">
      <br><br>
      <input type="password" placeholder="Confirm Password" id="pswdsign3" name="cpw">
      <br><br>
      <input type="button" value="Register" id="submitsign2" onclick="ValidateEmail2('signup','emailsign2')">
    </form>
  </div>
</div>

  <footer>
    <br> Title: Process 9 <br> CmpE 272 - Project Team 9 - Process WorkFlow Automation
  </footer>

    <!-- functions -->
    <script type="text/javascript">
      // signin validate
        function ValidateEmail1(form_id, email) {
          console.log(form_id);
          var reg = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          var address = document.forms[form_id].elements[email].value;
          if (reg.test(address) == false) {
            alert("You have entered an invalid email address!");
            document.forms[form_id].elements[email].focus();
            return false;
          }
          var form = document.getElementById(form_id);
          console.log("signin passed", form);
          form.submit();
        }
    // signup validate
        function ValidateEmail2(form_id, email) {
          var reg2 = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
          var address2 = document.forms[form_id].elements[email].value;
          var pswd1 = document.getElementById('pswdsign2').value;
          var pswd2 = document.getElementById('pswdsign3').value;
          if (reg2.test(address2) == false) 
          {
            alert("You have entered an invalid email address!");
            document.forms[form_id].elements[email].focus();
            return false;
          }
          if (pswd1 != pswd2) {
            alert("Passwords does not match");
            document.forms[form_id]["pswdsign2_1"].focus();
            return false;
          }
          var form = document.getElementById(form_id);
          console.log("signup passed", form);
          form.submit();
        }
    // show forms
        function toggleContainer(id) {
          console.log(id);
          $(".toHideContainer").hide();
          if (id == "olduserbutton") {
            $("#step_1_signin").show();
          } else if (id == "newuserbutton") {
            $("#step_2_signin").show();
          }
        }
      </script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
      </script>

</body>

</html>
