

body{
  background-color: white;
  opacity: 80;
}

#index1
{
  min-width: 70px;
  min-height: 50px;
  margin-left: 5%;
  margin-top: -10%;
}
/* .barcontainer {
  position: relative;
  border: 3px solid black;
  border-radius: 5px 5px 0 0;
  width: 36%;
  margin-left: 44%;;
  min-height: 18vw;
  max-height: 41vw;
  min-width: 28%;
  max-width: 55%;
  z-index: 1;
} */

/* .barcontainerheader {
  display: inline;
  position: absolute;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  background: #663399;
  border-bottom: 3px solid black;
  font-size: 1.5em;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 0 black;
  z-index: 0;
} */

.bar {
  position: absolute;
  display: inline-block;
  bottom: 0;
  border: 1px solid black;
  border-radius: 6px 6px 0 0;
  background: #006699;
  width: 20%;
  margin-left:3%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 0 black;
  box-shadow: 4px 0 8px #888;
}

.barlabel {
  position: absolute;
  border-top: 2px solid black;
  background: #888;
  bottom: 0;
  width: 100%;
  text-shadow: 1px 1px 0px black;
  color: white;
}

.bar:nth-child(2) {
  left: 25%;
}

.bar:nth-child(3) {
  left: 50%;
}

.bar:nth-child(4) {
  left: 75%;
}


#pie1
{
  margin-left:
}
.pie {
		position:absolute;
		width:100px;
		height:200px;
		overflow:hidden;
    left: 42%;
		-webkit-transform-origin:left center;
	}
  .pie.big {
		width:201px;
		height:201px;
    left:35%;
		-webkit-transform-origin:center center;
	}
  .pie:BEFORE {
		content:"";
		position:absolute;
		width:100px;
		height:200px;
		left:-100px;
		border-radius:100px 0 0 100px;
		-webkit-transform-origin:right center;

	}
  .pie.big:BEFORE {
		left:0px;
	}
  .pie.big:AFTER {
		content:"";
		position:absolute;
		width:100px;
		height:200px;
		left:100px;
		border-radius:0 100px 100px 0;
	}
  input#box1
  {
    min-width: 2%;
    min-height: 3px;
    background-color: #ffffb3;
  }
  input#box2
  {
    min-width: 1px;
    min-height: 3px;
    background-color: #00004d;
  }
  input#box3
  {
    min-width: 1px;
    min-height: 3px;
    background-color:#33cc33;
  }
  input#box4
  {
    min-width: 1px;
    min-height: 3px;
    background-color: #e60000;
  }
  .pie:nth-of-type(1):BEFORE,
	.pie:nth-of-type(1):AFTER {
		background-color:#33cc33;
	}
	.pie:nth-of-type(2):AFTER,
	.pie:nth-of-type(2):BEFORE {
		background-color:#00004d;
	}
	.pie:nth-of-type(3):AFTER,
	.pie:nth-of-type(3):BEFORE {
		background-color:#e60000;
	}
	.pie:nth-of-type(4):AFTER,
	.pie:nth-of-type(4):BEFORE {
		background-color:#ffffb3;
	}

  .pie[data-start="108"] {
		-webkit-transform: rotate(108deg);
	}
	.pie[data-start="54"] {
		-webkit-transform: rotate(54deg); /* Safari and Chrome */
	}
	.pie[data-start="90"] {
		-webkit-transform: rotate(90deg); /* Safari and Chrome */
	}
	.pie[data-value="54"]:BEFORE {
		-webkit-transform: rotate(55deg); /* Safari and Chrome */
	}
	.pie[data-value="36"]:BEFORE {
		-webkit-transform: rotate(37deg); /* Safari and Chrome */
	}
	.pie[data-value="18"]:BEFORE {
		-webkit-transform: rotate(19deg); /* Safari and Chrome */
	}
  .pie[data-value="252"]:BEFORE {
    -webkit-transform: rotate(253deg); /* Safari and Chrome */
  }
#coffeetable
{
  text-align: left;
  border-style: solid;
  font-size: 20px;
  margin-bottom: 10px;
}
table, th, td {
    border-bottom: 1px solid black;
    border-spacing: 0px;
}
#contri1
{
  font-size: 30px;
  color:#00004d;
  text-decoration: underline;
}
#tr1
{
  border-style: solid;
}
div #container{
  width: 100%;
  margin: 1%;
}
input#checkname1
{
  border-style: solid;
  border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
input#checkname2
{
  border-style: solid;
    border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
input#checkname3
{
  border-style: solid;
    border-width: medium;
min-height: 20px;
font-size: 30px;
width: 45%;
padding: 10px;
background-color: white;
opacity: 10px;
font-size: 25px;
border-color: orange;
border-radius: 2px;
}
#column1{
  width: 400px;
  float:left;
  min-height:650px;
  color: white;
  background-color:#0059b3;
}
#column1_dash{
  width: 400px;
  float:left;
  margin-left: 2%;
  min-height:180px;
  background-color:white;
}

#main_homesignout
{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
}
#main_home{
  min-height:720px;
  background-size: cover;
  overflow: hidden;
  background-color: white;
}
#text_services
{
  margin-top: 30px;
}
#main_services{
  min-height:500px;
  background-size: cover;
  overflow: hidden;
  background-color: white;
  color:#990000;
  text-align: center;
  font-family:comic sans MS;
}

#tag_h1_contact
{
  color:#b30059;
  text-align: center;
  font-family:comic sans MS;
  margin-bottom: -30px;
}
#chngpswd1{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('tours.jpg');
  background-size:cover;
}
#contactdiv{
  width: 550px;
 float:left;
 min-height:300px;
 color: Black;
 margin-left: 460px;
}
#chngpswd2{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('employee.jpg');
  background-size:cover;

}

#chngpswd3{
  width: 350px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 70px;
  margin-top: 150px;
  background-image:url('rocket.jpg');
  background-size:cover;
}

#chngpswd_submit1{
    width: 20em;  height: 50em;
}
#chngpswd_clr1{
    width: 10em;  height: 10em;
}
#main_chngpswd{
  min-height:695px;
    color: Black;
  background-color:white;
}
#main_pswd{
  min-height:695px;
    color: Black;
  background-color:white;
}

.toHideContainer {
    padding: 0 25px 0 30px;
}

#tasktitle
{
  margin-top: -2%;
  margin-bottom: -3%;
}
#task1
{
  margin-top: -2%;
  text-indent: 25%;
}
#contri1
{
  margin-bottom: -10px;
}
#myprogdetail2_div
{
  border-style: solid;
  border-color: grey;
  border-width: medium;
  min-width: 400px;
  margin-right: 30px;
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 450px;
  background-color: #ffffe6
}
#column2{
  width: 1700px;
  margin-left: 400px;
  min-height:650px;
  color: Black;
  background-color:#e6ecff;
}
#column2_dash{
  width: 1400px;
  min-height:400px;
  color: Black;
  text-indent: 4%;
}

#img_home{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 0px;
  background-color:#001a33;
}
#contactimg{
  width: 700px;
  float:left;
  min-height:300px;
  color: Black;
  margin-left: 350px;
  background-image: url('contactpic.jpg');
    background-size:cover;
}

#contactbody
{
    font-family: Lucida Handwriting;
    color:grey;
    text-align: center;
}
#img_home_2{
  width: 1700px;
  float:left;
  min-height:450px;
  color: Black;
  margin-left: 320px;
  background-image: url('autoimg.jpg');
  background-size:contain;
}

#img_aboutus{
  width: 1450px;
  float:left;
  min-height:335px;
  color: Black;
  margin-left: 0px;
  background-image: url('aboutUsNew.jpg');
  background-size:contain;
  font-family: comic sans ms;
}
#signinpart1{
  width: 1450px;
  float:left;
  min-height:280px;
  background-image: url('signInImg1.png');
  background-size:cover;
  margin-bottom: 20px;
}

#img_services{
  width: 1500px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 0px;
  margin-bottom: 50px;
  background-image: url('services.jpg');
  background-size:cover;
  font-family: comic sans ms;
}
#img_tempimg{
  width: 1500px;
  float:left;
  min-height:250px;
  color: Black;
  margin-bottom: 50px;
  background-image: url('tempImg.jpg');
  background-size:contain;
  font-family: comic sans ms;
}
#step1img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #e6f9ff;
}
#step1img_dashBoard{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
.dashdetail
{
  font-family: Lucida Handwriting;
  font-size: 20px;
  color: white;
  background-color: #003366;
  border-radius: 2px;
}
#dashdiv
{
  min-height: 200px;
  color:black;
  background-color: yellow;
  min-width: 200px;
}
#div1
{
  min-width: 300px;
}
#date1
{
  min-height: 40px;
  min-width: 20%;
  font-size: 20px;
  font-family: comic sans ms;
  border-style: solid;
  border-color: orange;
  border-width: medium;
}
#date3
{
  min-height: 40px;
  min-width: 20%;
  font-size: 20px;
  font-family: comic sans ms;
  border-style: solid;
  border-color: orange;
  border-width: medium;
}
#date2
{
  min-height: 40px;
  min-width: 20%;
  font-size: 20px;
  font-family: comic sans ms;
  border-style: solid;
  border-color: orange;
  border-width: medium;
}
#div2
{
  min-width: 400px;
  margin-left: 500px;
}
#myh1
{
  margin-left:100px;
  color:black;
  font-size: 50px;
  background-color: inherit;
}
.myprog
{
  color:#008000;
}
#myprogdetail2
{
  width: 100px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  color: white;
  background-color: #003366;
  border-radius: 2px;
}
#myh2
{
  color:black;
}
#step1img_dashBoard2{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  color: white;
  margin-bottom: 6px;
  background-color: #e6ffe6;
}
#step1img_temp{
  width: 350px;
  float:left;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: #ffffcc;
}

a:link {
    text-decoration: none;
}
#newcheck_line
{
  font-size: 50px;
  font-family:Comic Sans MS;
  margin-top: 50px;
  text-align: center;
  color: grey;
}
#listconstruct_line
{
  font-size: 50px;
  font-family:Comic Sans MS;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 5%;
  height: 20%;
  color:#00004d;
  text-align: center;
}
#step2check_new{
  width: 350px;
  float:left;
  margin-left: 0px;
  margin-bottom: 10px;
  background-color: #ffffcc;
}
#step1img_signin{
  width: 400px;
  float:left;
  text-align: center;
  min-height:50px;
  margin-left: 0px;
  margin-top: 30px;
  color:white;
  margin-bottom: 30px;
}
#forgothyper
{
  color:white;
  font-size: 20px;
}
#titlesignin
{
    font-size: 35px;
    font-family: comic sans ms;
    margin-bottom: -10px;
    margin-top: -5px;
}
#step2img_signin{
  width: 400px;
  float:left;
  text-align: center;
  min-height:50px;
  margin-left: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #145214;
  color:white;
}
#step2img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
#step3img_services{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
}
#step2img_dashBoard{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #e6f9ff;
}
#step1img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('uk.jpg');
  background-size:cover;
}
#signinbutton{
  width: 1430px;
  float:left;
  min-height:130px;
background-color: white;
}
#step_1_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 150px;
  color:black;
}
#step2img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('lu.jpg');
  background-size:contain;
}

#step_2_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 250px;
}
#step_4_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 250px;
}
#step3img_au{
  width: 170px;
  float:left;
  margin-top: 7px;
  min-height:160px;
  margin-right: 6px;
  background-image: url('rohan_pic.jpg');
  background-size:cover;
}

#step4img_au{
  width: 170px;
  float:left;
  min-height:170px;
  margin-right: 5px;
  background-image: url('hsien2.jpeg');
  background-size:cover;
}
#step_3_au{
  width: 420px;
  float:left;
  min-height:100px;
  color: Black;
  margin-left: 150px;
  color:black;
  }
#step3img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 100px;
  margin-top: 10px;
  background-image: url('step_3.jpg');
  background-size:cover;
}
#step2img{
  width: 350px;
  float:left;
  min-height:50px;
  margin-left: 0px;
  margin-top: 200px;
  background-color: #f2ffe6;
  /*border-style: solid;*/
}
#step1img{
  width: 150px;
  float:left;
  min-height:150px;
  margin-left: 103px;
  background-image: url('step_1.png');
  background-size:contain;
}
#step2img{
  width: 110px;
  float:left;
  min-height:140px;
  margin-left: 120px;
  margin-top: 5px;
  background-image: url('step_2.png');
  background-size:cover;
}
#tagline_home{
  width: 1400px;
  float:left;
  min-height:220px;
  color: grey;
  margin-top: 50px;
  text-align: center;
  background-color:white;
}

#tagline_home_about{
  width: 1400px;
  float:left;
  min-height:220px;
  color: grey;
  margin-top: 20px;
  text-align: left;
  padding-left: 30px;
  background-color:white;
}

#step_1{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 110px;
  margin-top: 10px;
  background-color: #e6faff;
}

#step_1_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-top: 10px;
  margin-left: 110px;
  background-image: url('constructionImg.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}
#main_newchecklist
{
  min-height: 690px;
}
#tempname1
{
  font-family: comic sans ms;
  color:black;
}
input#tempnamenew1
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
input#tempnamenew2
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
input#tempnamenew3
{
  font-family: comic sans ms;
  color:white;
  font-size: 25px;
  margin-top: 3%;
  width: 30%;
  float:left;
  margin-left: 2%;
  margin-bottom: 3%;
  background-color: #00004d;
  padding-top: 1%;
  padding-bottom: 1%;
  text-decoration: none;
}
#step_2_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('savedtemplate2.jpg');
    background-size: cover;
    border-bottom:3px;
    border-style: solid;
    border-color: grey;
}
#step_3_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('tempImg3.jpg');
    background-size: cover;
    border-bottom:3px;
    border-style: solid;
    border-color: grey;
}
#step_2_dashBoard{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 80px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('templatesImg.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_2_signin{
  width: 400px;
  float:left;
  min-height:400px;
  color: Black;
  margin-left: 480px;
  margin-right: 30px;
  margin-top: 10px;
  background-color: #ff8080;
}
#step_1_services{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 300px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('newtemplate3.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_dashBoard{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 280px;
  margin-right: 30px;
  margin-top: 10px;
  background-image: url('dashBoardImg.jpg');
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_dashBoard2{
  width: 350px;
  min-height:50px;
  color: Black;
  margin-left: 2%;
  background-color: white;
  background-size: cover;
  border-bottom:3px;
  border-style: solid;
  border-color: grey;
}
#step_1_signin{
  width: 400px;
  float:left;
  min-height:400px;
  color: Black;
  margin-left: 480px;
  margin-right: 30px;
  margin-top: 10px;
  background-color: #ff8080;
}

#step_2{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 78px;
  margin-top: 10px;
  background-color: #e6faff;
}
#step_2_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-left: 78px;
  margin-top: 10px;
  background-image: url('coffee1.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}

#step_3{
  width: 350px;
  float:left;
  min-height:350px;
  color: Black;
  margin-left: 70px;
  margin-top: 10px;
  background-color: #e6faff;
}


#step_3_temp{
  width: 350px;
  display:inline-block;
  min-height:380px;
  color: Black;
  margin-left: 70px;
  margin-top: 10px;
  background-image: url('itDeploy.jpg');
  background-size: cover;
  border-style: solid;
  border-color: grey;
}

#steps_home{
  width: 1420px;
  float:left;
  min-height:500px;
  color: #000066;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_services{
  width: 1420px;
  float:left;
  min-height:480px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_dashBoard{
  width: 1420px;
  float:left;
  min-height:500px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
  background-color:white;
}
#steps_home_dashBoard2{
  width: 370px;
  float:left;
  min-height:200px;
  color: #e6ffe6;
  margin-top: 0px;
  text-align: center;
}
#steps_home_au{
  width: 1420px;
  float:left;
  min-height:250px;
  color: #000066;
  margin-top: 0px;
  margin-left: 20px;
  text-align: center;
  background-color:white;
}

#login_home{
  width: 1420px;
  float:left;
  min-height:300px;
  color: White;
  margin-left: 0px;
  background-color:#ff6666;
  text-align: center;
}
#savedcheck_title{
  width: 1420px;
  float:left;
  min-height:200px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 40px;
  background-image: url('tempImg2.jpg');
  background-size: cover;
}
#listconstruct_title{
  margin-bottom: 5%;
  height: 20%;
  padding-top: 0.01%;
  padding-bottom: 2%;

}
#newcheck_title{

  margin-bottom: 2%;
  height: 10%;
  background-color: #ffffe6;
  padding-top: 0.01%;
  padding-bottom: 2%;
}


#listcoffee_line
{
  margin-bottom: 5%;
  height: 20%;
  color:#00004d;
  text-align: center;
}
#coffeebg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 1250px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('coffeebg2.jpg');
  background-size: cover;
}
#constrbg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 1100px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('constructlistimgrotate.jpg');
  background-size: cover;
}
#ITbg1
{
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 25%;
  min-height: 1020px;
  min-width: 100px;
  margin-top: -30px;
  background-image: url('itbg2.jpg');
  background-size: cover;
}
#listcoffhome
{
  margin-top: 50px;
  margin-bottom: -500px;
}
#listconstrhome
{
  margin-top: 50px;
  margin-bottom: -500px;
}
#listIThome
{
  margin-top: 50px;
  margin-bottom: -500px;
}

#listcons
{
  margin-left: 10%;
  margin-right: 10%;
  min-width: 100px;
  min-height: 700px;
  background-color: white;
  opacity: 0.8;
  color: black;
  font-size: 30px;
  text-indent: 30px;
}
input#cflist1
{
zoom:2;
}input#cflist2
{
zoom:2;
}input#cflist3
{
zoom:2;
}input#cflist4
{
zoom:2;
}input#cflist5
{
zoom:2;
}input#cflist6
{
zoom:2;
}
input#cflist7
{
zoom:2;
}
input#cflist8
{
zoom:2;
}

input#cflist9
{
zoom:2;
}
input#cflist0
{
zoom:2;
}
input#cstlist1
{
zoom:2;
}input#cstlist2
{
zoom:2;
}input#cstlist3
{
zoom:2;
}input#cstlist4
{
zoom:2;
}input#cstlist5
{
zoom:2;
}input#cstlist6
{
zoom:2;
}
input#cstlist7
{
zoom:2;
}

input#cstlist8
{
zoom:2;
}

input#cstlist9
{
zoom:2;
}
input#cstlist0
{
zoom:2;
}
input#itlist0
{
zoom:2;
}
input#itlist1
{
zoom:2;
}input#itlist2
{
zoom:2;
}input#itlist3
{
zoom:2;
}input#itlist4
{
zoom:2;
}input#itlist5
{
zoom:2;
}input#itlist6
{
zoom:2;
}
input#itlist7
{
zoom:2;
}
#dashBoard_title{
  width: 1420px;
  float:left;
  min-height:150px;
  color: white;
  text-align: center;
  margin-left: 0px;
  margin-bottom: 40px;
  background-image: url('fdash.jpg');
  background-size: cover;
}
#template_1{
  width: 1420px;
  float:left;
  min-height:300px;
  color: White;
  margin-left: 0px;
  margin-bottom: 20px;
  background-color:#003366;
  text-align: center;
}
#contri_about{
  width: 1430px;
  float:left;
  margin-top: 50px;
  min-height:120px;
  color: White;
  padding-top: 30px;
  margin-left: 0px;
  background-color:#660033;
  text-align: center;
  font-family: comic sans ms;
  margin-bottom: 20px;
}

input#emailhome
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#tempname
{
  min-width: 350px;
  min-height:53px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#emailsignid2
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#emailsignid1
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign1
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign2
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#pswdsign3
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;

}
input#submithome {
    width: 170px;
    font-family: Lucida Handwriting;
    font-size: 25px;
    color: #003366;
    padding-top: 18px;
    padding-bottom: 18px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;
    border-radius: 20px;

}
input#newuserbutton {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 250px;
    margin-right: 40px;
    background-color: #003366;
    border-radius: 20px;
}
input#olduserbutton {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 280px;
    background-color: #003366;
    border-radius: 20px;
}
input#subcoflist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#subconstrlist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#subITlist {
    width: 300px;
    font-family: Lucida Handwriting;
    font-size: 30px;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 30px;
    background-color: #003366;
    border-radius: 20px;
}
input#newtemp{
    width: 100px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 0px;
    background-color: #003366;
    border-radius: 2px;
}
#SignInNote1
{
  font-family: comic sans ms;
  color:grey;
  margin-left:310px;
}

input#submitsign1{
    width: 100px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
}
input#submitsign2{
    width: 120px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 20px;
    background-color: white;
}
input#tempsubmit{
    width: 170px;
    font-family: Lucida Handwriting;
    font-size: 20px;
    color: #003366;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 40px;
    margin-right: 20px;
    background-color: white;

}
#logintag{
    font-size: 40px;
    font-family:Comic Sans MS;
    margin-top: 60px;
    margin-bottom: 0px;
    margin-right: 10px;
}
#savedcheck_line{
    font-size: 50px;
    font-family:Comic Sans MS;
    margin-top: 50px;
    margin-bottom: 0px;
    text-shadow: 4px 4px #003300;
}
#savedcheck_line2_1{
    font-size: 50px;
    font-family:Comic Sans MS;
    margin-top: 30px;
    margin-bottom: 0px;
    text-shadow: 4px 4px #003300;
}
#savedcheck_line2{
    font-size: 80px;
    font-family:Comic Sans MS;
    margin-top: 30px;
    margin-bottom: 0px;
    text-shadow: 4px 4px #003300;
}
#tag_h1{
    font-family:Comic Sans MS;
    text-align: center;
}

#tag_h1_about{
  font-family:Comic Sans MS;
  color: #000066;
}
#acknw{
  font-family:Comic Sans MS;
  color: #008000;
  margin-top: 100px;
  text-align: center;
}
#tag_h1_about_2{
  font-family:Helvetica;
  line-height: 30px;
}

header{
  background-color: white;
  min-height: 50px;
  text-indent: 1px;
  color: white;
  margin-top: 30px;
  min-width: 1000px;;
  font-size: 12px;
}

#main{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_dashboard1{
  min-height:650px;
  margin-bottom: 40px;
}
#main_savedcheck{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_newcheck{
  min-height:450px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_dashBoard{
  min-height:650px;
  background-color: white;
  background-size: cover;
  overflow: hidden;
  margin-bottom: 40px;
}
#main_signin{
  width: 1420px;
  float:left;
  min-height:250px;
  color: #e6ffe6;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
  background-color:white;
}

footer{
  text-align: center;
  margin-top: 10px;
  background-color: white;
  min-height: 50px;
  font-size: 20px;
  color:#666699;
}

#ul1{
    list-style:none;
    list-style-position: inside;
    padding-left:50px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
    color: #00cccc;
    font-size: 16px;
    font-family: Calibri Light;
    position: relative;
    z-index:1000;
}

#ul1_newcheck{
    list-style:none;
    list-style-position: inside;
    padding-left:50px;
    position: absolute;
    padding-top: 3px;
    color: #00cccc;
    font-size: 16px;
    font-family: Calibri Light;
    position: relative;
    padding-right: 200px;
    margin: 0;
    margin-right: 30px;
    z-index:1000;
}

#ul2{
    list-style:none;
    list-style-position: inside;
    padding-left:900px;
    min-width: 20%;
    margin: 0;
    position: absolute;
    padding-top: 3px;
}

#ul2_newcheck{
    list-style:none;
    list-style-position: inside;
    padding-left:1260px;
    margin: 0;
    position: absolute;
    padding-top: 3px;
}

ul li{
  float:left;
  font-size: x-small;
  background-color: white;
  opacity: .9;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

ul li a{
  text-decoration: none;
  font-family: Calibri Light;
  font-size: 16px;
  color: #666699;
  display: block;
}

ul li a:hover{
  color: #00cccc;
  font-size: 16px;
  font-family: Calibri Light;
  position: relative;
  z-index:1000;
}

input#namesignup
{
  min-width: 350px;
  min-height:58px;
  font-family: Lucida Handwriting;
  font-size: 20px;
  padding-left: 10px;
  color: black;
}
